<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center">
                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
            </div>
            <div class="flex align-items-center justify-content-center">
                <span class="mx-1" style="font-weight: 100;">Permite ver documentos adjuntos</span>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
<p-table
    #dt
    [rows]="10"
    [paginator]=" mode !== 'show' "
    [rowsPerPageOptions]="[10,25,50]" 
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros."
    [value]="data" 
    [columns]="cols" 
    [globalFilterFields]="globalFiltros"
    [dataKey]="dataKeyTable" 
    autoLayout="true"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
    rowExpandMode="single"
>

    <ng-template pTemplate="caption">
        <div class="flex flex-wrap flex-column md:flex-row justify-content-between align-items-center">
            <div class="flex mb-2 lg:mb-0">
                <ng-container *ngIf="mode !== 'show'; else modeShow">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchValue" (input)="onGlobalFilter(dt, $event)" />
                    </span>
                    <p-button 
                        styleClass="p-button-text p-button-sm ml-2" 
                        icon="pi pi-filter-slash" 
                        pTooltip="Limpiar filtros" 
                        (click)="clear(dt)">
                    </p-button>
                </ng-container>
                <ng-template #modeShow>
                    <span class="font-light">Información y documentos adjuntos de: <strong>Reglamento</strong> </span>
                </ng-template>
                
            </div>

            <div *ngIf="mode !== 'show'" class="hidden lg:flex align-items-center">
                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
            </div>
                            
            <div class="flex">
                <ng-container *ngIf="mode !== 'show'; else showLeyenda">
                    <p-button 
                        pTooltip="Muestra la leyenda de íconos" 
                        icon="pi pi-question-circle"
                        styleClass="p-button-warning mr-2 lg:hidden" 
                        (click)="op.toggle($event)">
                    </p-button>
                    <p-button 
                        pRipple 
                        label="Actualizar" 
                        icon="pi pi-refresh" 
                        styleClass="p-button-info" 
                        (click)="refresh()">
                    </p-button>
                </ng-container>
                <ng-template #showLeyenda>
                    <div class="hidden md:flex align-items-center">
                        <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                        <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <ng-container *ngFor="let col of cols">
                <ng-container *ngIf="col.field !== 'accion'; else actionsColumn">
                    <th pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon *ngIf="mode !== 'show'" field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
                <ng-template #actionsColumn>
                    <th *ngIf="mode !== 'show' " style="min-width: 10rem; ">{{ col.header }}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="data" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td style="width: 50%;">
                <span class="p-column-title">Nombre</span>
                {{data.Descripcion_regla}}
            </td>
            <td style="width:25%; min-width:10rem;">
                <span class="p-column-title">Vigencia</span>
                <div class="flex flex-row flex-wrap">
                    <div class="flex align-items-center justify-content-center">
                        <span [ngClass]="data.vigencia ? 'estado-badge estado-activo' : 'estado-badge estado-desactivo'">
                            {{ data.vigencia ? 'vigente' : 'no vigente' }}
                          </span>
                    </div>
                </div>
            </td>
            <td style="width: 25%;">
                <span class="p-column-title">Año</span>
                {{data.anio}}
            </td>
            <td *ngIf="mode !== 'show' ">
                <div class="flex">
                    <p-button
                        *ngIf="!data.isSelected" 
                        label="Seleccionar" 
                        styleClass="p-button-sm p-button-info mr-2" 
                        (click)="changeSelectSuspension('select',data)"
                        [disabled]="isAnySelected && !data.isSelected" 
                    >
                    </p-button>
                    <p-button
                        *ngIf="data.isSelected"    
                        styleClass="p-button-sm p-button-danger"
                        label="Deseleccionar"
                        (click)="changeSelectSuspension('unselect',data)"
                    >
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-data>
        <tr>
            <td [attr.colspan]="mode !== 'show' ? 5 : 4" >
                <h4>Documentos adjuntos.</h4>
                <app-uploader-files mode="show"></app-uploader-files>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="mode !== 'show' ? (cols.length + 1) : (cols.length)" >Sin registros</td>
        </tr>
    </ng-template>

</p-table>