<div class="flex justify-content-between align-content-center mb-2 mt-4">
    <div>
        <p-button
        label="Eliminar seleccionados"
        icon="pi pi-trash"
        styleClass="p-button-danger p-button-outlined p-button-sm"
        [disabled]="disabled"
        (click)="deleteSelected()"
        ></p-button>
    </div>
    <div>
        <p-button
        label="Agregar"
        icon="pi pi-plus"
        styleClass="p-button-success p-button-sm"
        (click)="openNew()"
        ></p-button>
    </div>
</div>
