<app-breadcrumbgp></app-breadcrumbgp>
<p-card>
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap"  [style]="{ 'padding-left': '1.5rem' , 'padding-top': '1.5rem' , 'padding-right': '1.5rem'}">
            <div>
                <div class="p-card-title">Actualizar programa</div>
                <div class="p-card-subtitle">Permite actualizar un programa.</div>
            </div>
            <div class="flex align-items-center">
                <button pButton [plain]="true" [text]="true" type="button" icon="pi pi-pencil" ></button>
                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite editar registro</span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <app-form-programas-view-and-edit [mode]="mode" [cod_programa]="cod_programa" ></app-form-programas-view-and-edit>
    </ng-template>
</p-card>

