.estado-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.estado-badge-doc {
  display: inline-flex;          
  align-items: center;    
  justify-content: center; 
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.estado-badge.estado-activo {
    background: #C8E6C9;
    color: #256029;
}

.estado-badge.estado-desactivo {
    background: #FFCDD2;
    color: #C63737;
}


.estado-badge-doc.estado-cloud {
  background: #C8E6C9;
  color: #256029;
}

.estado-badge-doc.estado-upload {
  background-color: #fcd96f;
  color: #795b00;
}

.config-mode-button {
  display: block;
  position: fixed;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background: var(--primary-color);
  color: var(--primary-color-text);
  text-align: center;
  top: 50%;
  left: 0;
  margin-top: -1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: background-color var(--transition-duration);
  overflow: hidden;
  cursor: pointer;
  z-index: 999;
  box-shadow: -.25rem 0 1rem rgba(0,0,0,.15);

  i {
      font-size: 2rem;
      line-height: inherit;
      transform: rotate(0deg);
      transition: transform 1s;
  }

  &:hover {
      background: var(--primary-400);
  }
}

.config-mode-sidebar {
  &.p-sidebar {
      .p-sidebar-content {
          padding-left: 2rem;
          padding-right: 2rem;
      }
  }
}

.p-message {
  margin: 0rem 0rem 1rem !important;
  border-radius: 5px !important;
}

