.estado-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.estado-badge-doc {
  display: inline-flex;           /* Cambiar display a flex */
  align-items: center;     /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.estado-badge.estado-activo {
    background: #C8E6C9;
    color: #256029;
}

.estado-badge.estado-desactivo {
    background: #FFCDD2;
    color: #C63737;
}


.estado-badge-doc.estado-cloud {
  background: #C8E6C9;
  color: #256029;
}

.estado-badge-doc.estado-upload {
  background-color: #fcd96f;
  color: #795b00;
}




