<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="flex flex-column">
            <div *ngFor="let leyenda of table.leyendas" class="flex align-items-center justify-content-start">
                <div class="flex flex-row align-items-center justify-content-start">
                    <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" [icon]="leyenda.icon" ></button>
                    <span class="mx-1" style="font-weight: 100;">{{ leyenda.leyenda }}</span>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
<div *ngIf="from !== 'mantenedor'" class="flex justify-content-between align-items-center">
    <div class="flex align-items-center justify-content-center">
        <p-messages severity="info">
            <ng-template pTemplate>
                <i class="pi pi-info-circle mr-3"></i>
                <span>
                    Seleccione un estado de acreditación registrado en la tabla presionando el botón ( <i class="pi pi-check" style="font-size: 0.8rem; font-weight:1000;"></i> ). 
                    Si no está registrado, agregue uno presionando el botón <strong>Agregar</strong>.
                </span>
            </ng-template>
        </p-messages>
    </div>
    <div class="flex align-items-center justify-content-center">
        <p-button
            label="Agregar"
            icon="pi pi-plus"
            styleClass="p-button-success ml-4"
            (click)="main.setModeCrud('create')"
        ></p-button>
    </div>
</div>
<p-table 
    #dt 
    [rows]="10" 
    [paginator]="true" 
    [rowsPerPageOptions]="[10,25,50]" 
    [showCurrentPageReport]="true"
    [rowHover]="true" 
    [value]="estados" 
    [columns]="table.cols" 
    [globalFilterFields]="table.globalFiltros"
    [(selection)]="table.selectedRows" 
    [dataKey]="table.dataKeyTable" 
    (selectionChange)="table.setSelectedRows()" 
    [customSort]="true"
    (sortFunction)="customSort($event)"
    currentPageReportTemplate="{first} hasta {last} de {totalRecords} estados de acreditacion." 
    selectionMode="multiple"
    autoLayout="true"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse()"
    rowExpandMode="single"
    >

    <ng-template pTemplate="caption">
        <div class="flex flex-wrap flex-column md:flex-row justify-content-between align-items-center">
            <div class="flex mb-2 md:mb-0">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchValue" (input)="onGlobalFilter(dt, $event)" />
              </span>
              <p-button 
                styleClass="p-button-text p-button-sm ml-2" 
                icon="pi pi-filter-slash" 
                pTooltip="Limpiar filtros" 
                (click)="clear(dt)">
              </p-button>
            </div>
                              
            <div class="flex">
                <p-button
                    *ngIf="from !== 'mantenedor' " 
                    pTooltip="Muestra la leyenda de íconos" 
                    icon="pi pi-question-circle"
                    styleClass="p-button-warning mr-2" 
                    (click)="op.toggle($event)">
                </p-button>
              <p-button 
                pRipple 
                label="Actualizar" 
                icon="pi pi-refresh" 
                styleClass="p-button-info" 
                (click)="refresh()">
              </p-button>
            </div>
          </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox *ngIf="from === 'mantenedor'"></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of table.cols">
                <ng-container *ngIf="col.field !== 'accion'; else actionsColumn">
                    <th  pSortableColumn="{{ col.field }}">
                        {{ col.header }} <p-sortIcon *ngIf="col.field != 'tiempo.Fecha_inicio'" field="{{ col.field }}"></p-sortIcon>
                      </th>
                </ng-container>
                <ng-template #actionsColumn>
                    <th style="min-width: 10rem; ">{{ col.header }}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-expanded="expanded">
        <tr>
            <td>
                <p-tableCheckbox *ngIf="from === 'mantenedor'" [value]="data"></p-tableCheckbox>
                <p-button *ngIf="from !== 'mantenedor'" type="button" pRipple [pRowToggler]="data" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td>
                <span class="p-column-title">Identificador</span>
                <span>
                    {{data.Sigla}}
                </span>
            </td>
            <td>
                <span class="p-column-title">Estado</span>
                <div class="flex flex-row flex-wrap">
                    <div class="flex align-items-center justify-content-center">
                        <span [ngClass]="data.Acreditado == 'SI' ? 'estado-badge estado-activo' : 'estado-badge estado-desactivo'">
                            {{ data.Acreditado == 'SI' ? 'acreditado' : 'no acreditado' }}
                        </span>
                    </div>
                </div>

                <ng-container *ngIf="data.Acreditado === 'SI' && data.tiempo.Fecha_inicio !== '01-01-1900' && data.tiempo.Fecha_termino !== '01-01-1900' ">
                    <span style="font-size: 0.8rem;">
                        <strong>INICIO:</strong> {{data.tiempo.Fecha_inicio}} <br>
                        <strong>TÉRMINO:</strong> {{data.tiempo.Fecha_termino}} <br>
                        <strong>AÑOS:</strong> {{data.tiempo.Cantidad_anios}} años
                        <strong></strong>
                    </span>
                </ng-container>
            </td>

            <td>
                <span class="p-column-title">Evaluacion_interna</span>
                <div class="flex flex-row flex-wrap">
                    <div class="flex align-items-center justify-content-center">
                        <span [ngClass]="data.Evaluacion_interna == 'SI' ? 'estado-badge estado-activo' : 'estado-badge estado-desactivo'">
                            {{ data.Evaluacion_interna == 'SI' ? 'si' : 'no' }}
                        </span>
                    </div>
                </div>
            </td>

            <td>
                <ng-container *ngIf="data.Fecha_informe !== '01-01-1900'; else templateName">
                    {{data.Fecha_informe}}
                </ng-container>
                <ng-template #templateName>
                    <span>N/A</span>
                </ng-template>
            </td>

            <td *ngIf="from === 'mantenedor' ">
                <div class="flex">
                    <p-button 
                        icon="pi pi-trash" 
                        styleClass="p-button-sm p-button-danger mr-2"
                        pTooltip="Eliminar registro" 
                        (click)="delete(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-pencil" 
                        styleClass="p-button-sm p-button-warning mr-2"
                        pTooltip="Editar registro" 
                        (click)="edit(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-eye" 
                        styleClass="p-button-sm p-button-info mr-2" 
                        pTooltip="Ver registro"
                        (click)="show(data)" 
                        tooltipPosition="left">
                    </p-button>
                </div>
            </td>
            <td *ngIf="from !== 'mantenedor' ">
                <div class="flex">
                    <p-button
                        *ngIf="!data.isSelected" 
                        icon="pi pi-check" 
                        styleClass="p-button-sm p-button-info mr-2"
                        pTooltip="Seleccionar" 
                        (click)="changeSelectEstadoAcreditacion('select',data)"
                        [disabled]="isAnySelected && !data.isSelected" 
                    >
                    </p-button>
                    <p-button
                        *ngIf="data.isSelected"    
                        icon="pi pi-minus"
                        styleClass="p-button-sm p-button-danger mr-2"
                        pTooltip="Deseleccionar"
                        (click)="changeSelectEstadoAcreditacion('unselect',data)"
                        [disabled]="mode === 'show'" 

                    >
                    </p-button>
                    <p-button
                        icon="pi pi-pencil"
                        styleClass="p-button-sm p-button-warning"
                        pTooltip="Editar registro"
                        (click)="edit(data)"
                    >
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-data>
        <tr>
            <td [attr.colspan]="table.cols.length + 1">
                <h4>Documentos adjuntos</h4>
                <app-uploader-files mode="show"></app-uploader-files>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="table.cols.length + 1" >Sin registros</td>
        </tr>
    </ng-template>
</p-table>