<app-breadcrumbgp></app-breadcrumbgp>
<p-toast [key]="programasService.keyPopups" [style]="{ width: '30rem' }"></p-toast>
<p-toast [key]="programasService.keyPopupsCenter" [style]="{ width: '30rem' }" position="center" life="2000" ></p-toast>
<p-confirmDialog [key]="programasService.keyPopups" [style]="{ width: '500px' }" closable="false"></p-confirmDialog>

<app-dialog [(visible)]="showDialogDocs">
    <div header>
        <span class="text-xl">Adjuntar documentos</span>
    </div>
    <div content>
        <app-uploader-files></app-uploader-files>
    </div>
    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" (click)="showDialogDocs = false" [text]="true"></p-button>
    </div>
</app-dialog>

<app-dialog [dialogWidth]="'75vw'" [(visible)]="showDialogEstadoAcreditacion">
    <div header>
        <span class="text-xl">Agregar estado de acreditación</span>
    </div>
    <div content>
        <app-form-estados-acreditacion *ngIf="showDialogEstadoAcreditacion"></app-form-estados-acreditacion>
    </div>
    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
            (click)="showDialogEstadoAcreditacion = false" [text]="true"></p-button>

        <p-button 
            label="Guardar"
            icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" 
            [disabled]="estadosAcreditacionService.stateForm === 'INVALID' ||  estadosAcreditacionService.stateForm === undefined "
            (click)="submitNewEstadoAcreditacion()">
        </p-button>
    </div>
</app-dialog>

<app-dialog [dialogWidth]="'75vw'" [(visible)]="newReglamentoDialog">
    <div header>
        <span class="text-xl">Agregar reglamento</span>
    </div>
    <div content>
        <app-form-reglamentos *ngIf="newReglamentoDialog"></app-form-reglamentos>
    </div>
    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
            (click)="newReglamentoDialog = false" [text]="true"></p-button>

        <p-button 
            label="Guardar"
            icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" 
            [disabled]="reglamentosService.stateForm === 'INVALID' || reglamentosService.stateForm === undefined "
            (click)="submitNewReglamento()">
        </p-button>
    </div>
</app-dialog>

<p-card >
    <ng-template pTemplate="header" >
        <div class="flex justify-content-between flex-wrap"  [style]="{ 'padding-left': '1.5rem' , 'padding-top': '1.5rem' , 'padding-right': '1.5rem'}">
            <div>
                <div class="p-card-title">Agregar programa</div>
                <div class="p-card-subtitle">Permite agregar un programa.</div>

            </div>
            <div>
                <!-- <p-button 
                    label="test" 
                    icon="pi pi-times" 
                    styleClass="p-button-sm p-button-secondary mr-2" 
                    (click)="test()" [text]="true"></p-button> -->
                <button pButton icon="pi pi-upload" label="Adjuntar documento maestro" (click)="chooseDocs('Maestro')"></button>
                <button 
                    pButton 
                    class="hidden p-button-secondary p-button-outlined ml-2 lg:inline" 
                    (click)="changeDisposition()" 
                >
                    <div class="flex align-items-center justify-content-center">
                        <span class="mr-2">Estado formulario: </span>
                        <span [ngClass]="getStateClass(programasService.stateFormPrograma)">
                            {{ getStateText(programasService.stateFormPrograma) }}
                        </span>
                    </div>
                </button>
                <button 
                    pButton 
                    class="p-button-secondary p-button-outlined ml-2 mt-2 lg:hidden" 
                    (click)="sidebarVisible2 = true" 
                >
                <div class="flex align-items-center justify-content-center">
                    <span class="mr-2">Estado formulario: </span>
                    <span [ngClass]="getStateClass(programasService.stateFormPrograma)">
                        {{ getStateText(programasService.stateFormPrograma) }}
                    </span>
                </div>
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="body">
        <div class="grid flex">
            
            <div [ngClass]="contentWrapperClass">
                <form [formGroup]="programasService.fbForm">
                    <p-stepper (activeStepChange)="stepChange($event)">
                        <p-stepperPanel id="paso1">
                            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                                <app-form-programas-step-one></app-form-programas-step-one>
                                <div class="flex pt-4 justify-content-end">
                                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                        <p-stepperPanel id="paso2">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                                <app-form-programas-step-two></app-form-programas-step-two>
                                <div class="flex pt-4 justify-content-between">
                                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                        <p-stepperPanel id="paso3">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
                                <div class="flex flex-column">
                                    <p-accordion class="w-full" [activeIndex]="programasService.activeIndexAcordionAddPrograma" (onOpen)="openAccordion()">

                                        <p-accordionTab id="reglamento">
                                            <ng-template pTemplate="header">
                                                <div class="flex justify-content-between flex-wrap w-full">
                                                    <div>
                                                        <span><strong>Reglamento</strong></span>
                                                    </div>
                                                    <div *ngIf="programasService.reglamentoSelected !== '' ">
                                                        <span style="font-weight: 100;"><i>{{ programasService.reglamentoSelected }}</i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body">
                                                <div class="grid flex justify-content-center align-items-center h-full">
                                                    <div class="col-12 lg:col-10">
                                                        <p-messages severity="info">
                                                            <ng-template pTemplate>
                                                                <i class="pi pi-info-circle mr-3"></i>
                                                                <span>
                                                                    Seleccione un reglamento registrado en la tabla. Si no está registrado, agregue uno presionando el botón <strong>Agregar</strong>.
                                                                </span>
                                                            </ng-template>
                                                        </p-messages>
                                                    </div>
                                                    <div class="col-12 lg:col-2">
                                                        <div class="flex justify-content-end align-items-center h-full">
                                                            <p-button
                                                                label="Agregar"
                                                                icon="pi pi-plus"
                                                                styleClass="p-button-success p-button-sm"
                                                                (click)="addNewReglamento()"
                                                            ></p-button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <app-table-programas-reglamentos [data]="reglamentos"></app-table-programas-reglamentos>
                                            </ng-template>
                                        </p-accordionTab>

                                        <p-accordionTab id="estadoacreditacion">
                                            <ng-template pTemplate="header">
                                                <div class="flex justify-content-between flex-wrap w-full">
                                                    <div>
                                                        <span><strong>Estado acreditación</strong></span>
                                                    </div>
                                                    <div *ngIf="programasService.estadoAcreditacionSelected !== '' ">
                                                        <span style="font-weight: 100;"><i>{{ programasService.estadoAcreditacionSelected }}</i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body">
                                                <div class="grid flex justify-content-center align-items-center h-full">
                                                    <div class="col-12 lg:col-10">
                                                        <p-messages severity="info">
                                                            <ng-template pTemplate>
                                                                <i class="pi pi-info-circle mr-3"></i>
                                                                <span>
                                                                    Seleccione un estado de acreditación registrado en la tabla. Si no está registrado, agregue uno presionando el botón <strong>Agregar</strong>.
                                                                </span>
                                                            </ng-template>
                                                        </p-messages>
                                                    </div>
                                                    <div class="col-12 lg:col-2">
                                                        <div class="flex justify-content-end align-items-center h-full">
                                                            <p-button
                                                                label="Agregar"
                                                                icon="pi pi-plus"
                                                                styleClass="p-button-success p-button-sm"
                                                                (click)="addNewEstadoAcreditacion()"
                                                            ></p-button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <app-table-programas-estados-acreditacion [data]="estadosAcreditacion" ></app-table-programas-estados-acreditacion>
                                            </ng-template>
                                        </p-accordionTab>

                                        <p-accordionTab id="director">
                                            <ng-template pTemplate="header">
                                                <div class="flex justify-content-between flex-wrap w-full">
                                                    <div>
                                                        <span><strong>Director(a)</strong></span>
                                                    </div>
                                                    <div *ngIf="programasService.directorSelected.nombre !== '' ">
                                                        <span style="font-weight: 100;"><i>{{ programasService.directorSelected.rut }} - {{ programasService.directorSelected.nombre }} </i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body">
                                                <div class="formgrid grid">
                                                    <div class="col-12">
                                                        <p-messages severity="info">
                                                            <ng-template pTemplate>
                                                                <i class="pi pi-info-circle mr-3"></i>
                                                                <span>Ingrese RUT de director(a), luego presione el botón buscar ( <i class="pi pi-search" style="font-size: 0.8rem; font-weight:1000;"></i> ) y seleccione en la tabla.</span>
                                                            </ng-template>
                                                        </p-messages>
                                                    </div>
                                                    <div class="field col-12 lg:col-4">
                                                        <label><strong>RUT director(a) *</strong></label>
                                                        <p-inputGroup>
                                                            <input type="text" pInputText formControlName="Director" maxlength="10" placeholder="Ingrese RUT director(a)"  />
                                                            <button type="button" pButton icon="pi pi-search" [disabled]="programasService.fbForm.controls['Director'].invalid" (click)="searchDirector('director')"></button>
                                                        </p-inputGroup>
                                                        <small>Sin puntos y con guión. Ejemplo: 11111111-0</small>
                                                        <app-form-control [control]="programasService.fbForm.controls['Director']" [validators]="['required', 'rut']"></app-form-control>
                                                    </div>
                                                    <div class="col-12 lg:col-8">
                                                        <div class="field" *ngIf="programasService.showTableDirectores">
                                                            <label><strong>Director(a) encontrado(a)</strong></label>
                                                            <app-table-programas-directores mode="director" [data]="directores"></app-table-programas-directores>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-accordionTab>

                                        <p-accordionTab id="directoralterno" *ngIf="programasService.fbForm.get('haveDirectorAlterno')?.value">
                                            <ng-template pTemplate="header">
                                                <div class="flex justify-content-between flex-wrap w-full">
                                                    <div>
                                                        <span><strong>Director(a) alterno(a)</strong></span>
                                                    </div>
                                                    <div *ngIf="programasService.directorAlternoSelected.nombre !== '' ">
                                                        <span style="font-weight: 100;"><i>{{ programasService.directorAlternoSelected.rut }} - {{ programasService.directorAlternoSelected.nombre }} </i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body">
                                                <div class="formgrid grid">
                                                    <div class="field col-12">
                                                        <p-messages severity="info">
                                                            <ng-template pTemplate>
                                                                <i class="pi pi-info-circle mr-3"></i>
                                                                <span>Ingrese RUT de director(a) alterno(a), luego presione el botón buscar ( <i class="pi pi-search" style="font-size: 0.8rem; font-weight:1000;"></i> ) y seleccione en la tabla.</span>
                                                            </ng-template>
                                                        </p-messages>
                                                    </div>
                                                    <div class="field col-12 lg:col-4">
                                                        <label><strong>RUT director(a) alterno(a) *</strong></label>
                                                        <p-inputGroup>
                                                            <input type="text" pInputText formControlName="Director_alterno" placeholder="Ingrese RUT de director(a) alterno(a)" />
                                                            <button type="button" pButton icon="pi pi-search" [disabled]="programasService.fbForm.controls['Director_alterno'].invalid" (click)="searchDirector('directoralterno')"></button>
                                                        </p-inputGroup>
                                                        <small>Sin puntos y con guión. Ejemplo: 11111111-0</small>
                                                        <app-form-control [control]="programasService.fbForm.controls['Director_alterno']" [validators]="['required', 'rut', 'notSameAsDirector']"></app-form-control>
                                                    </div>
                                                    <div class="col-12 lg:col-8">
                                                        <div class="field" *ngIf="programasService.showTableDirectoresAlternos">
                                                            <label><strong>Director(a) alterno(a) encontrado(a)</strong></label>
                                                            <app-table-programas-directores mode="alterno" [data]="directoresAlternos"></app-table-programas-directores>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-accordionTab>

                                        

                                    </p-accordion>
                                </div>
                                <div class="flex pt-4 justify-content-between">
                                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                    <p-button styleClass="p-button-success" label="Agregar" icon="pi pi-check" iconPos="right" (onClick)="submit()" [disabled]="!programasService.stateFormPrograma" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>
                    </p-stepper>
                </form>
            </div>
            <div class="hidden lg:block" *ngIf="programasService.disposition" [ngClass]="sidebarClass" >
                <p-card styleClass="border-1 surface-border border-round rounded-lg"  >
                    <ng-template pTemplate="header">
                        <div class="flex flex-row flex-wrap"  [style]="{ 'padding-left': '1.5rem' , 'padding-top': '1.5rem' , 'padding-right': '1.5rem' , 'width': '100%'}">
                            <div class="align-items-center">
                                <div class="p-card-title">Estado formulario</div>
                            </div>
                            <div class="align-items-center ml-2" [style]="{'margin-top': '0.1rem !important'}">
                                <i class="pi pi-question-circle" [pTooltip]='tooltipContent' tooltipPosition="top"></i>
                                <ng-template #tooltipContent>
                                    <small>Indica el estado de validación de cada campo del formulario. Para cerrar, presione el botón "Estado formulario".</small>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                    <app-state-form></app-state-form>
                </p-card>
            </div>

            <p-sidebar [(visible)]="sidebarVisible2" position="right">
                <h3>Estado formulario</h3>
                <app-state-form></app-state-form>
            </p-sidebar>
        </div>

    </ng-template>

</p-card>