.layout-container {
    position: relative;
    min-height: 55rem;
}

.layout-container .layout-content-wrapper {
    margin-right: 22rem;
    transition: margin-right 0.2s;
}

.layout-container .layout-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 22rem;
    height: 100%;
    transition: transform 0.2s;
}

.layout-container.layout-overlay .layout-content-wrapper {
    margin-right: 0;
    transition: margin-right 0.2s;
}

.layout-container.layout-overlay .layout-sidebar {
    transform: translateX(100%);
    transition: margin-right 0.2s;
}
