<app-dialog [dialogWidth]="'65vw'" [(visible)]="main.dialogUpdate" (visibleChange)="closeDialog()">
    <div header>
        <ng-container [ngSwitch]="main.dialogUpdateMode">
            <span *ngSwitchDefault class="text-xl" >{{mode === 'show' ? 'Ver' : 'Actualizar'}} {{ main.dialogUpdateMode }}</span>
        </ng-container>
    </div>

    <div content>
        <!-- <p-button 
            label="test" 
            icon="pi pi-times" 
            styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="test()" [text]="true">
        </p-button>  -->
        <form *ngIf="main.dialogUpdate" [formGroup]="form.fbFormUpdate">
            <div class="formgrid grid">
                <div class="col-12" *ngIf="mode !== 'show' && main.dialogUpdateMode !== 'reglamento' ">
                    <app-form-isvalid [valid]="form.fbFormUpdate.valid"></app-form-isvalid>
                </div>

                <ng-container *ngIf="main.dialogUpdateMode === 'estado' ">
                    <div class="field col-12">
                        <label><strong>Estado {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.estados"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_estado"
                            placeholder="Seleccione estado"
                            optionLabel="descripcion_estado"
                            optionValue="cod_estado"
                            (onChange)="changeEstadoPlanEstudio($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_estado']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'modalidad' ">
                    <div class="field col-12">
                        <label><strong>Modalidad {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.modalidades"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_modalidad"
                            placeholder="Seleccione modalidad"
                            optionLabel="Descripcion_modalidad"
                            optionValue="Cod_modalidad"
                            (onChange)="changeModalidad($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_modalidad']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                
                <ng-container *ngIf="main.dialogUpdateMode === 'jornada' ">
                    <div class="field col-12">
                        <label><strong>Jornada {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.jornadas"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_jornada"
                            placeholder="Seleccione jornada"
                            optionLabel="Descripcion_jornada"
                            optionValue="Cod_jornada"
                            (onChange)="changeJornada($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_jornada']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'regimen' ">
                    <div class="field col-12">
                        <label><strong>Régimen {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.regimenes"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_regimen"
                            placeholder="Seleccione régimen"
                            optionLabel="Descripcion_regimen"
                            optionValue="Cod_regimen"
                            (onChange)="changeRegimen($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_jornada']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'reglamento'">
                    <div class="col-12 mt-2">
                        <app-table-reglamentos [form]="'planDeEstudio'" [planDeEstudio]="planDeEstudio" [mode]="mode!" ></app-table-reglamentos>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'rexe' ">
                    <div class="field col-12">
                        <label><strong>REXE {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <input type="text" pInputText formControlName="rexe" maxlength="50" class="w-full" placeholder="Ingrese REXE del plan de estudio"/>
                        <app-form-control [control]="form.fbFormUpdate.controls['rexe']" [validators]="['required', 'num_o_letras']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'cupo_minimo' ">
                    <div class="field col-12">
                        <label><strong>Cupo mínimo {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-inputNumber 
                            [allowEmpty]="true"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cupo_minimo"
                            format="false"
                            maxlength="8"
                            placeholder="Ingrese cupo mínimo de estudiantes"
                            class="w-full p-d-flex p-flex-column"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cupo_minimo']" [validators]="['required', 'solo_num']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'articulacion' ">
                    <div class="col-12 mt-2">
                        <div class="flex justify-content-between align-items-center">
                            <div class="flex align-items-center justify-content-center">
                                <p-messages severity="info">
                                    <ng-template pTemplate>
                                        <i class="pi pi-info-circle mr-3"></i>
                                        <span *ngIf="mode === 'edit'">
                                            A continuación se enlistan las articulaciones entre programas de pregrado y el plan de estudio. 
                                            Si desea agregar una nueva articulación, presione el botón <strong>Agregar</strong>.
                                        </span>
                                        <span *ngIf="mode === 'show'">
                                            A continuación se enlistan las articulaciones entre programas de pregrado y el plan de estudio. 
                                        </span>
                                    </ng-template>
                                </p-messages>
                            </div>
                            <div *ngIf="mode === 'edit'" class="flex align-items-center justify-content-center">
                                <p-button
                                    label="Agregar"
                                    icon="pi pi-plus"
                                    styleClass="p-button-success ml-4"
                                    (click)="initCreateFormArticulacion()"
                                ></p-button>
                            </div>
                        </div>
                        <app-form-articulaciones [dataFromAgregarPE]="form.dataToPendingForm"></app-form-articulaciones>
                    </div>
                </ng-container>

                <div class="field col-12"  *ngIf=" main.dialogUpdateMode !== 'articulacion' && main.dialogUpdateMode !== 'reglamento'">
                    <label>
                        <strong> 
                            {{ mode === 'show' ? 'Documentos adjuntos' : 'Adjunte documentos *'}} 
                        </strong>
                    </label>
                    <app-uploader-files [mode]="mode!"></app-uploader-files>
                </div>
            </div>
        </form>
    </div>

    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
            (click)="main.dialogUpdate = false" [text]="true">
        </p-button>
        <p-button 
            *ngIf="form.showButtonSubmitUpdate && mode === 'edit' "
            label="Actualizar" 
            icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" 
            [disabled]="form.stateFormUpdate === 'INVALID' || form.stateFormUpdate === undefined "
            (click)="submit()">
        </p-button>
    </div>
</app-dialog>
