<app-dialog [dialogWidth]="'65vw'" [(visible)]="main.dialogUpdate" (visibleChange)="closeDialog()">
    <div header>
        <ng-container [ngSwitch]="main.dialogUpdateMode">
            <span *ngSwitchDefault class="text-xl" >{{mode === 'show' ? 'Ver' : 'Actualizar'}} {{ main.dialogUpdateMode }}</span>
        </ng-container>
    </div>

    <div content>
        <p-button 
            label="test" 
            icon="pi pi-times" 
            styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="test()" [text]="true">
        </p-button> 
        <form *ngIf="main.dialogUpdate" [formGroup]="form.fbFormUpdate">
            <div class="formgrid grid">
                <div class="col-12" *ngIf="mode !== 'show' && main.dialogUpdateMode !== 'reglamento' && main.dialogUpdateMode !== 'articulacion' ">
                    <app-form-isvalid [valid]="form.fbFormUpdate.valid"></app-form-isvalid>
                </div>

                <ng-container *ngIf="main.dialogUpdateMode === 'estado' ">
                    <div class="field col-12">
                        <label><strong>Estado {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.estados"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_estado"
                            placeholder="Seleccione estado"
                            optionLabel="descripcion_estado"
                            optionValue="cod_estado"
                            (onChange)="changeEstadoPlanEstudio($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_estado']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'modalidad' ">
                    <div class="field col-12">
                        <label><strong>Modalidad {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.modalidades"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_modalidad"
                            placeholder="Seleccione modalidad"
                            optionLabel="Descripcion_modalidad"
                            optionValue="Cod_modalidad"
                            (onChange)="changeModalidad($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_modalidad']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'jornada' ">
                    <div class="field col-12">
                        <label><strong>Jornada {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.jornadas"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_jornada"
                            placeholder="Seleccione jornada"
                            optionLabel="Descripcion_jornada"
                            optionValue="Cod_jornada"
                            (onChange)="changeJornada($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_jornada']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'regimen' ">
                    <div class="field col-12">
                        <label><strong>Régimen {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-dropdown
                            [options]="main.regimenes"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cod_regimen"
                            placeholder="Seleccione régimen"
                            optionLabel="Descripcion_regimen"
                            optionValue="Cod_regimen"
                            (onChange)="changeRegimen($event)"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cod_jornada']" [validators]="['required']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'reglamento'">
                    <div class="col-12 mt-2">
                        <app-table-reglamentos [form]="'planDeEstudio'" [planDeEstudio]="planDeEstudio" [mode]="mode!" ></app-table-reglamentos>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'rexe' ">
                    <div class="field col-12">
                        <label><strong>REXE {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <input type="text" pInputText formControlName="rexe" maxlength="50" class="w-full" placeholder="Ingrese REXE del plan de estudio"/>
                        <app-form-control [control]="form.fbFormUpdate.controls['rexe']" [validators]="['required', 'num_o_letras']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'cupo_minimo' ">
                    <div class="field col-12">
                        <label><strong>Cupo mínimo {{ mode === 'edit' ? '*' : ''}}</strong></label>
                        <p-inputNumber 
                            [allowEmpty]="true"
                            [style]="{ width: '100%', 'min-width': '100%' }"
                            formControlName="cupo_minimo"
                            format="false"
                            maxlength="8"
                            placeholder="Ingrese cupo mínimo de estudiantes"
                            class="w-full p-d-flex p-flex-column"
                        />
                        <app-form-control [control]="form.fbFormUpdate.controls['cupo_minimo']" [validators]="['required', 'solo_num']"></app-form-control>
                    </div>
                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'articulacion' ">
                    <div class="field col-12 lg:col-6 mt-2">
                        <label><strong>¿Tiene articulación con programas de Pregrado?</strong></label>
                        <div class="flex flex-row justify-content-start flex-wrap">
                            <div class="flex align-items-center justify-content-center">
                                <span>No</span>
                            </div>
                            <div class="flex align-items-center justify-content-center mx-2">
                                <p-inputSwitch [falseValue]="0" [trueValue]="1" formControlName="tiene_articulacion"  styleClass="mt-1 mx-1"/>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <span>Si</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <p-accordion [activeIndex]="0">
                            <p-accordionTab  *ngIf="form.fbFormUpdate.get('tiene_articulacion')!.value === 1" header="Articulaciones">
                                <div class="flex justify-content-between align-items-center">
                                    <div class="flex align-items-center justify-content-center">
                                        <p-messages severity="info">
                                            <ng-template pTemplate>
                                                <i class="pi pi-info-circle mr-3"></i>
                                                A continuación se enlistan las articulaciones entre asignaturas del plan de estudio y asignaturas de pregrado. 
                                                <span *ngIf="mode === 'edit'">
                                                    Si desea agregar una nueva articulación, presione el botón <strong>Agregar</strong>.
                                                </span>
                                            </ng-template>
                                        </p-messages>
                                    </div>
                                    <div *ngIf="mode === 'edit'" class="flex align-items-center justify-content-center">
                                        <p-button
                                            [disabled]="form.fbFormUpdate.get('tiene_articulacion')!.value === 0"
                                            label="Agregar"
                                            icon="pi pi-plus"
                                            styleClass="p-button-success ml-4"
                                            (click)="initCreateFormArticulacion()"
                                        ></p-button>
                                    </div>
                                </div>
                                <app-form-articulaciones [dataExternal]="form.dataExternal" (formWasClosed)="externalFormWasClosed()"></app-form-articulaciones>
                                <app-table-articulaciones [mode]="mode" [dataExternal]="form.dataExternal"></app-table-articulaciones>
                            </p-accordionTab>
                            <p-accordionTab header="{{ mode === 'show' ? 'Documentos adjuntos' : 'Adjunte documentos *'}}">
                                <app-uploader-files [mode]="mode!"></app-uploader-files>
                            </p-accordionTab>
                        </p-accordion>
                    </div>

                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'certificacion' ">
                    <div class="field col-12 lg:col-6 mt-2">
                        <label><strong>¿Tiene certificación intermedia?</strong></label>
                        <div class="flex flex-row justify-content-start flex-wrap">
                            <div class="flex align-items-center justify-content-center">
                                <span>No</span>
                            </div>
                            <div class="flex align-items-center justify-content-center mx-2">
                                <p-inputSwitch [falseValue]="0" [trueValue]="1" formControlName="tiene_certificacion"  styleClass="mt-1 mx-1"/>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <span>Si</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <p-accordion [activeIndex]="0">
                            <p-accordionTab  *ngIf="form.fbFormUpdate.get('tiene_certificacion')!.value === 1" header="Certificaciones intermedias">
                                <div class="flex justify-content-between align-items-center">
                                    <div class="flex align-items-center justify-content-center">
                                        <p-messages severity="info">
                                            <ng-template pTemplate>
                                                <i class="pi pi-info-circle mr-3"></i>
                                                A continuación se enlistan las certificaciones intermedias con sus asignaturas.
                                                <span *ngIf="mode === 'edit'"> 
                                                    Si desea agregar una nueva certificación intermedia, presione el botón <strong>Agregar</strong>.
                                                </span>
                                            </ng-template>
                                        </p-messages>
                                        
                                    </div>
                                    <div *ngIf="mode === 'edit'" class="flex align-items-center justify-content-center">
                                        <p-button
                                            [disabled]="form.fbFormUpdate.get('tiene_certificacion')!.value === 0"
                                            label="Agregar"
                                            icon="pi pi-plus"
                                            styleClass="p-button-success ml-4"
                                            (click)="initCreateFormCertifIntermPE()"
                                        ></p-button>
                                    </div>
                                </div>
                                <app-form-certificaciones-intermedias-pe  [dataExternal]="form.dataExternal" (formWasClosed)="externalFormWasClosed()"></app-form-certificaciones-intermedias-pe>
                                <app-table-certificaciones-intermedias-pe [mode]="mode" [dataExternal]="form.dataExternal"></app-table-certificaciones-intermedias-pe>
                            </p-accordionTab>
                            <p-accordionTab header="{{ mode === 'show' ? 'Documentos adjuntos' : 'Adjunte documentos *'}}">
                                <app-uploader-files [mode]="mode!"></app-uploader-files>
                            </p-accordionTab>
                        </p-accordion>
                    </div>

                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'rangos' ">
                    <div class="field col-12 lg:col-6 mt-2">
                        <label><strong>¿Tiene rangos de aprobación?</strong></label>
                        <div class="flex flex-row justify-content-start flex-wrap">
                            <div class="flex align-items-center justify-content-center">
                                <span>No</span>
                            </div>
                            <div class="flex align-items-center justify-content-center mx-2">
                                <p-inputSwitch [falseValue]="0" [trueValue]="1" formControlName="tiene_rango_aprob_g"  styleClass="mt-1 mx-1"/>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <span>Si</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <p-accordion [activeIndex]="0">
                            <p-accordionTab  *ngIf="form.fbFormUpdate.get('tiene_rango_aprob_g')!.value === 1" header="Rangos de aprobación">
                                <div class="flex justify-content-between align-items-center">
                                    <div class="flex align-items-center justify-content-center">
                                        <p-messages severity="info">
                                            <ng-template pTemplate>
                                                <i class="pi pi-info-circle mr-3"></i>
                                                A continuación se enlistan los rangos de aprobación del plan de estudio.
                                                <span *ngIf="mode === 'edit'"> 
                                                    Si desea agregar un nuevo rango de aprobación, presione el botón <strong>Agregar</strong>.
                                                </span>
                                            </ng-template>
                                        </p-messages>
                                        
                                    </div>
                                    <div *ngIf="mode === 'edit'" class="flex align-items-center justify-content-center">
                                        <p-button
                                            [disabled]="form.fbFormUpdate.get('tiene_rango_aprob_g')!.value === 0"
                                            label="Agregar"
                                            icon="pi pi-plus"
                                            styleClass="p-button-success ml-4"
                                            (click)="initCreateFormRangosAG()"
                                        ></p-button>
                                    </div>
                                </div>
                                <app-form-rangos-ag [dataExternal]="form.dataExternal" (formWasClosed)="externalFormWasClosed()"></app-form-rangos-ag>
                                <app-table-rangos-ag [mode]="mode" [dataExternal]="form.dataExternal"></app-table-rangos-ag>
                            </p-accordionTab>
                            <p-accordionTab header="{{ mode === 'show' ? 'Documentos adjuntos' : 'Adjunte documentos *'}}">
                                <app-uploader-files [mode]="mode!"></app-uploader-files>
                            </p-accordionTab>
                        </p-accordion>
                    </div>

                </ng-container>

                <ng-container *ngIf="main.dialogUpdateMode === 'menciones' ">
                    <div class="field col-12 lg:col-6 mt-2">
                        <label><strong>¿Tiene menciones?</strong></label>
                        <div class="flex flex-row justify-content-start flex-wrap">
                            <div class="flex align-items-center justify-content-center">
                                <span>No</span>
                            </div>
                            <div class="flex align-items-center justify-content-center mx-2">
                                <p-inputSwitch [falseValue]="0" [trueValue]="1" formControlName="tiene_mencion"  styleClass="mt-1 mx-1"/>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <span>Si</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <p-accordion [activeIndex]="0">
                            <p-accordionTab  *ngIf="form.fbFormUpdate.get('tiene_mencion')!.value === 1" header="Menciones">
                                <div class="flex justify-content-between align-items-center">
                                    <div class="flex align-items-center justify-content-center">
                                        <p-messages severity="info">
                                            <ng-template pTemplate>
                                                <i class="pi pi-info-circle mr-3"></i>
                                                A continuación se enlistan las menciones con sus asignaturas del plan de estudio.
                                                <span *ngIf="mode === 'edit'"> 
                                                    Si desea agregar una nueva mención, presione el botón <strong>Agregar</strong>.
                                                </span>
                                            </ng-template>
                                        </p-messages>
                                        
                                    </div>
                                    <div *ngIf="mode === 'edit'" class="flex align-items-center justify-content-center">
                                        <p-button
                                            [disabled]="form.fbFormUpdate.get('tiene_mencion')!.value === 0"
                                            label="Agregar"
                                            icon="pi pi-plus"
                                            styleClass="p-button-success ml-4"
                                            (click)="initCreateMencion()"
                                        ></p-button>
                                    </div>
                                </div>
                                <app-form-menciones [dataExternal]="form.dataExternal" (formWasClosed)="externalFormWasClosed()"></app-form-menciones>
                                <app-table-menciones [mode]="mode" [dataExternal]="form.dataExternal"></app-table-menciones>
                            </p-accordionTab>
                            <p-accordionTab header="{{ mode === 'show' ? 'Documentos adjuntos' : 'Adjunte documentos *'}}">
                                <app-uploader-files [mode]="mode!"></app-uploader-files>
                            </p-accordionTab>
                        </p-accordion>
                    </div>

                </ng-container>

                <div class="field col-12"  *ngIf=" main.dialogUpdateMode !== 'articulacion' && main.dialogUpdateMode !== 'certificacion' && main.dialogUpdateMode !== 'rangos' && main.dialogUpdateMode !== 'reglamento'">
                    <label>
                        <strong> 
                            {{ mode === 'show' ? 'Documentos adjuntos' : 'Adjunte documentos *'}} 
                        </strong>
                    </label>
                    <app-uploader-files [mode]="mode!"></app-uploader-files>
                </div>
            </div>
        </form>
    </div>

    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
            (click)="main.dialogUpdate = false" [text]="true">
        </p-button>
        <p-button 
            *ngIf="form.showButtonSubmitUpdate && mode === 'edit' "
            label="Actualizar" 
            icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" 
            [disabled]="form.stateFormUpdate === 'INVALID' || form.stateFormUpdate === undefined "
            (click)="submit()">
        </p-button>
    </div>
</app-dialog>
