<!-- <div class="grid" *ngIf="modeForm !== 'show' ">
    <div class="col-12">
        <app-form-isvalid [valid]="form.fbForm.valid"></app-form-isvalid>
    </div>
</div> -->
<form [formGroup]="form.fbForm">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label><strong>Nombre *</strong></label>
            <input type="text" pInputText formControlName="Nombre_programa" maxlength="80" class="w-full" placeholder="Ingrese nombre del programa"/>
            <app-form-control [control]="form.fbForm.controls['Nombre_programa']" [validators]="['required', 'num_y_letras']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6">
            <label><strong>Grupo de correo en LDAP *</strong></label>
            <input type="email" pInputText formControlName="Grupo_correo" maxlength="80" class="w-full" placeholder="Ingrese correo LDAP del programa"/>
            <app-form-control [control]="form.fbForm.controls['Grupo_correo']" [validators]="['required', 'checkCorreoUV']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6">
            <label><strong>Título *</strong></label>
            <input type="text" pInputText formControlName="Titulo" maxlength="50" class="w-full" placeholder="Ingrese nombre de título del programa"/>
            <app-form-control [control]="form.fbForm.controls['Titulo']" [validators]="['required', 'num_y_letras']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6">
            <label><strong>Grado académico *</strong></label>
            <input type="text" pInputText formControlName="Grado_academico" maxlength="50" class="w-full" placeholder="Ingrese nombre de grado académico del programa"/>
            <app-form-control [control]="form.fbForm.controls['Grado_academico']" [validators]="['required', 'num_y_letras']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-3">
            <label><strong>Centro costo *</strong></label>
            <p-inputNumber 
                formControlName="Centro_costo"
                format="false"
                [allowEmpty]="true"
                placeholder="Ingrese centro costo del programa"
                maxlength="9"
                class="w-full p-d-flex p-flex-column"
                [style]="{ width: '100%', 'min-width': '100%' }"
            />
            <app-form-control [control]="form.fbForm.controls['Centro_costo']" [validators]="['required' , 'solo_num']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-3">
            <label><strong>Código SIES *</strong></label>
            <input type="text" pInputText formControlName="Codigo_SIES" maxlength="50" class="w-full" placeholder="Ingrese código SIES del programa"/>
            <app-form-control [control]="form.fbForm.controls['Codigo_SIES']" [validators]="['required', 'num_y_letras']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-3">
            <label><strong>Créditos totales *</strong></label>
            <p-inputNumber 
                formControlName="Creditos_totales"
                format="false"
                [allowEmpty]="true"
                maxlength="10"
                placeholder="Ingrese créditos totales del programa"
                class="w-full p-d-flex p-flex-column"
                [style]="{ width: '100%', 'min-width': '100%' }"
            />
            <app-form-control [control]="form.fbForm.controls['Creditos_totales']" [validators]="['required' , 'solo_num']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-3">
            <label><strong>Horas totales *</strong></label>
            <p-inputNumber 
                formControlName="Horas_totales"
                format="false"
                [allowEmpty]="true"
                maxlength="10"
                placeholder="Ingrese horas totales del programa"
                class="w-full p-d-flex p-flex-column"
                [style]="{ width: '100%', 'min-width': '100%' }"
            />
            <app-form-control [control]="form.fbForm.controls['Horas_totales']" [validators]="['required' , 'solo_num']"></app-form-control>
        </div>

        <div class="field col-12 md:col-6 lg:col-3">
            <label><strong>REXE *</strong></label>
            <input type="text" pInputText formControlName="REXE" maxlength="50" class="w-full" placeholder="Ingrese REXE del programa"/>
            <app-form-control [control]="form.fbForm.controls['REXE']" [validators]="['required', 'num_o_letras']"></app-form-control>
        </div>
    </div>

    
</form>