<p-table
    [value]="data" 
    [dataKey]="dataKeyTable"
    autoLayout="true"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand()"
    (onRowCollapse)="onRowCollapse()"
    rowExpandMode="single"
>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <th style="width:33%;">Director(a)</th>
            <th style="width:33%;">Contacto</th>
            <th style="width:33%;">Facultad</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="data" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td>{{ data.Nombres }} {{ data.Paterno }} {{ data.Materno }} <br/> RUT: {{ data.rutcompleto }}</td>
            <td>{{ data.FiceMail }} <br/> Anexo: {{ data.DirFono || '' }}</td>
            <td>{{ data.Facultad }}</td>

        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-data>
        <tr>
            <td colspan="4">
                <h4>Documentos adjuntos</h4>
                <app-uploader-files mode="show"></app-uploader-files>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="4">Sin registros</td>
        </tr>
    </ng-template>

</p-table>
