<app-dialog [dialogWidth]="'85vw'" [(visible)]="main.dialogForm">

    <div header>
        <ng-container *ngIf="main.modeForm === 'create' || main.modeForm === 'insert' ">
            <span class="text-xl">Agregar {{ main.namesCrud.plural }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'edit' || main.modeForm === 'update' ">
            <span class="text-xl">Actualizar {{ main.namesCrud.plural }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'show'">
            <span class="text-xl">Visualizar {{ main.namesCrud.plural }}</span>
        </ng-container>
    </div>

    <div content>
        <!-- <p-button 
            label="test" 
            icon="pi pi-times" 
            styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="test()" [text]="true">
        </p-button> -->

        <div class="grid" *ngIf="main.modeForm !== 'show' ">
            <div class="col-12">
                <app-form-isvalid [valid]="form.fbForm.valid"></app-form-isvalid>
            </div>
        </div>

        <div class="mt-2">
            <p-messages [(value)]="main.messagesFormulario" [enableService]="false" [escape]="false" />
        </div>

        <form [formGroup]="form.fbForm">
            <div class="flex">
                <div class="flex-grow-1 flex-shrink-1 flex align-items-start justify-content-center w-full">
                    <div class="surface-card shadow-2 p-3 border-round w-full">
                        <span class="text-lg mt-3">Asignaturas disponibles de un plan de estudio</span>
                        <p-divider/>

                        <div class="field">
                            <label><strong>Facultad {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="mainFacultad.facultades"
                                formControlName="cod_facultad"
                                optionLabel="Descripcion_facu"
                                optionValue="Cod_facultad" 
                                placeholder="Seleccione facultad"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeFacultadOrigen($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " [ngStyle]="{'color': form.getArrowColor('facultad_to_programas_left'), 'font-size' : '1.5rem'}"></i>
                        </div>
    
                        <div class="field">
                            <label><strong>Programa {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="main.programas_origen"
                                formControlName="cod_programa"
                                optionLabel="Nombre_programa_completo"
                                optionValue="Cod_Programa" 
                                placeholder="Seleccione programa de postgrado"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeProgramaOrigen($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down" [ngStyle]="{'color': form.getArrowColor('programas_to_planestudio_left'), 'font-size' : '1.5rem'}"></i>
                        </div>
    
                        <div class="field">
                            <div *ngIf="form.fbForm.get('cod_plan_estudio')?.enabled && main.modeForm !== 'show'" class="flex flex-column sm:flex-row align-items-center justify-content-center border-round mt-2" >
                                <div class="w-full sm:w-auto">
                                    <p-messages [(value)]="form.messagePE" [enableService]="false" [escape]="false" />
                                </div>
                            </div>
                            <label>                                     
                                <div class="flex flex-row flex-wrap">
                                    <div class="flex align-items-center"><strong>Plan de estudio {{  main.modeForm! !== 'show' ? '*' : '' }}</strong></div>
                                    <div class="flex align-items-center ml-1">
                                        <i *ngIf="main.modeForm != 'show'" class="pi pi-info-circle ml-1" [pTooltip]="form.tooltipContent" tooltipPosition="top"></i>
                                    </div>
                                </div>
                            </label>
                            <p-dropdown 
                                [options]="main.planes_origen"
                                formControlName="cod_plan_estudio"
                                optionLabel="nombre_plan_estudio_completo"
                                optionValue="cod_plan_estudio" 
                                placeholder="Seleccione plan de estudio"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changePlanDeEstudioOrigen($event)" 
                            />
                        </div>

                        <div *ngIf="main.modeForm !== 'show'"  class="flex align-items-center justify-content-center w-full mb-2">
                            <i class="pi pi-arrow-down " [ngStyle]="{'color': form.getArrowColor('planestudio_to_table_left'), 'font-size' : '1.5rem'}"></i>
                        </div>

                        <div *ngIf="main.modeForm !== 'show'"  class="field mt-2">
                            <label><strong>Seleccione asignaturas *</strong></label>
                            <p-table
                                #dt2    
                                [value]="main.asignaturas_plancomun"
                                [globalFilterFields]="table.globalFiltrosAsignatura"
                                [scrollable]="true"
                                [rowHover]="true"
                                selectionMode="multiple"
                                scrollHeight="350px"
                                dataKey="cod_tema"
                                [(selection)]="table.selectedAsignaturaRows" 
                                (selectionChange)="selectAsignatura($event)"
        
                            >
                                <ng-template pTemplate="caption">
                                    <div class="flex flex-wrap flex-column sm:flex-row justify-content-center align-items-center">
                                        <p-button
                                            *ngIf="table.selectedAsignaturaRows.length !== 0"
                                            label="Deseleccionar"
                                            icon="pi pi-times"
                                            styleClass="p-button-danger p-button-outlined"
                                            (click)="clearTableAsignatura(); "
                                        ></p-button>
                                        <div class="flex m-1">
                                            <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input #inputAsignatura pInputText type="text" placeholder="Buscar..." (input)="dt2.filterGlobal($any($event.target).value, 'contains')" />
                                            </span>
                                        </div>
                                        <p-button 
                                            styleClass="p-button-text p-button-sm " 
                                            icon="pi pi-filter-slash" 
                                            pTooltip="Limpiar filtros" 
                                            (click)="inputAsignatura.value = ''; dt2.filterGlobal('', 'contains') ">
                                        </p-button>
                                    </div>
                                </ng-template>
        
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 2rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                        <th>Asignatura</th>
                                    </tr>
                                </ng-template>
        
                                <ng-template pTemplate="body" let-asignatura>
                                    <tr>
                                        <td><p-tableCheckbox [value]="asignatura"></p-tableCheckbox></td>
                                        <td>
                                            <span>
                                                <strong>Asignatura: </strong> {{ asignatura.codigo_externo }} - {{ asignatura.nombre_asignatura }} <br/>
                                                <strong>Tema: </strong> {{ asignatura.nombre_tema === '' ? '-' :  asignatura.nombre_tema }} 
                                            </span> 
                                        </td>
                                    </tr>
                                </ng-template>
        
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="2">Sin registros</td>
                                    </tr>
                                </ng-template>
                                
                            </p-table>
                        </div>
                    </div>
                </div>
                <div class="flex-shrink-0 flex align-items-center justify-content-center w-auto">
                    <i class="pi pi-arrow-right mx-2" style="font-size: 2rem; color:#6c757d"></i>
                </div>
                <div class="flex-grow-1 flex-shrink-1 flex align-items-start justify-content-center w-full">
                    <div class="surface-card shadow-2 p-3 border-round w-full">
                        <span class="text-lg mt-3">Asignaturas seleccionadas para plan común</span>
                        <p-divider/>

                        <div class="field">
                            <label><strong>Facultad {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="mainFacultad.facultades"
                                formControlName="cod_facultad_pc"
                                optionLabel="Descripcion_facu"
                                optionValue="Cod_facultad" 
                                placeholder="Seleccione facultad"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeFacultadDestino($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " [ngStyle]="{'color': form.getArrowColor('facultad_to_programas_right'), 'font-size' : '1.5rem'}"></i>
                        </div>

                        <div class="field">
                            <label><strong>Programa {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="main.programas_destino"
                                formControlName="cod_programa_pc"
                                optionLabel="Nombre_programa_completo"
                                optionValue="Cod_Programa" 
                                placeholder="Seleccione programa de postgrado"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeProgramaDestino($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " [ngStyle]="{'color': form.getArrowColor('programas_to_planestudio_right'), 'font-size' : '1.5rem'}"></i>
                        </div>

                        <div class="field">
                            <div *ngIf="form.fbForm.get('cod_plan_estudio_plan_comun')?.enabled && main.modeForm !== 'show'" class="flex flex-column sm:flex-row align-items-center justify-content-center border-round mt-2" >
                                <div class="w-full sm:w-auto">
                                    <p-messages [(value)]="form.messagePC" [enableService]="false" [escape]="false" />
                                </div>
                            </div>
                            <label>                                     
                                <div class="flex flex-row flex-wrap">
                                    <div class="flex align-items-center"><strong>Plan de estudio {{  main.modeForm! !== 'show' ? '*' : '' }}</strong></div>
                                    <div class="flex align-items-center ml-1">
                                        <i *ngIf="main.modeForm != 'show'" class="pi pi-info-circle ml-1" [pTooltip]="form.tooltipContent2" tooltipPosition="top"></i>
                                    </div>
                                </div>
                            </label>
                            <p-dropdown 
                                [options]="main.planes_destino"
                                formControlName="cod_plan_estudio_plan_comun"
                                optionLabel="nombre_plan_estudio_completo"
                                optionValue="cod_plan_estudio" 
                                placeholder="Seleccione plan común"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changePlanDeEstudioDestino($event)" 
                            />
                        </div>

                        <div *ngIf="main.modeForm !== 'show'" class="field mt-6">
                            <label><strong>Asignaturas seleccionadas para plan común * </strong></label>
                            <p-table
                                #dt3    
                                [value]="table.selectedAsignaturaRows"
                                [globalFilterFields]="table.globalFiltrosAsignatura"
                                [scrollable]="true"
                                scrollHeight="350px"
                                dataKey="cod_tema"
                            >
                                <ng-template pTemplate="caption">
                                    <div class="flex flex-wrap flex-column sm:flex-row justify-content-center align-items-center">
                                        <div class="flex mb-2 md:mb-0">
                                            <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input #inputAsignaturaSelected pInputText type="text" placeholder="Buscar..." (input)="dt3.filterGlobal($any($event.target).value, 'contains')" />
                                            </span>
                                        </div>
                                        <p-button 
                                            styleClass="p-button-text p-button-sm " 
                                            icon="pi pi-filter-slash" 
                                            pTooltip="Limpiar filtros" 
                                            (click)="inputAsignaturaSelected.value = ''; dt3.filterGlobal('', 'contains') ">
                                        </p-button>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Total seleccionadas: {{ table.selectedAsignaturaRows.length  }} </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-asignatura>
                                    <tr>
                                        <td>
                                            <span>
                                                <strong>Asignatura: </strong> {{ asignatura.codigo_externo }} - {{ asignatura.nombre_asignatura }} <br/>
                                                <strong>Tema: </strong> {{ asignatura.nombre_tema === '' ? '-' :  asignatura.nombre_tema }} 
                                            </span> 
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="2">Sin asignaturas seleccionadas</td>
                                    </tr>
                                </ng-template>
                                
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="main.modeForm === 'show'" class="formgrid grid mt-2">
                <div class="field col-1"></div>
                <div class="field col-10">
                    <div class="surface-card shadow-2 p-3 border-round w-full">
                        <label><strong>Asignaturas seleccionadas para plan común * </strong></label>
                        <p-table
                            #dt3    
                            [value]="table.selectedAsignaturaRows"
                            [globalFilterFields]="table.globalFiltrosAsignatura"
                            [scrollable]="true"
                            scrollHeight="350px"
                            dataKey="cod_tema"
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex flex-wrap flex-column sm:flex-row justify-content-center align-items-center">
                                    <div class="flex mb-2 md:mb-0">
                                        <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input #inputAsignaturaSelected pInputText type="text" placeholder="Buscar..." (input)="dt3.filterGlobal($any($event.target).value, 'contains')" />
                                        </span>
                                    </div>
                                    <p-button 
                                        styleClass="p-button-text p-button-sm " 
                                        icon="pi pi-filter-slash" 
                                        pTooltip="Limpiar filtros" 
                                        (click)="inputAsignaturaSelected.value = ''; dt3.filterGlobal('', 'contains') ">
                                    </p-button>
                                </div>
                            </ng-template>
    
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Total seleccionadas: {{ table.selectedAsignaturaRows.length  }} </th>
                                </tr>
                            </ng-template>
    
                            <ng-template pTemplate="body" let-asignatura>
                                <tr>
                                    <td>
                                        <span>
                                            <strong>Asignatura: </strong> {{ asignatura.codigo_externo }} - {{ asignatura.nombre_asignatura }} <br/>
                                            <strong>Tema: </strong> {{ asignatura.nombre_tema === '' ? '-' :  asignatura.nombre_tema }} 
                                        </span> 
                                    </td>
                                </tr>
                            </ng-template>
    
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td [attr.colspan]="2">Sin asignaturas seleccionadas</td>
                                </tr>
                            </ng-template>
                            
                        </p-table>
                    </div>
                </div>
                <div class="field col-1"></div>
            </div>
        </form>


    </div>

    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="main.dialogForm = false" [text]="true"></p-button>
        
        <p-button *ngIf="main.modeForm === 'create' || main.modeForm === 'edit'"
            [label]="main.modeForm === 'edit' ? 'Actualizar' : 'Agregar'" icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" [disabled]="form.stateForm === 'INVALID'"
            (click)="submit()">
        </p-button>
    </div>

</app-dialog>
