<p-table 
    #dt 
    [rows]="10" 
    [paginator]="true" 
    [rowsPerPageOptions]="[10,25,50]" 
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros." 
    selectionMode="multiple"
    [rowHover]="true" 
    [value]="data" 
    [columns]="cols" 
    [globalFilterFields]="globalFiltros"
    [(selection)]="selectedRow" 
    [dataKey]="dataKeyTable" 
    (selectionChange)="selectionChange()" >
    <ng-template pTemplate="caption">
        <div class="flex flex-wrap flex-column md:flex-row justify-content-between align-items-center">
            <div class="flex mb-2 md:mb-0">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchValue" (input)="onGlobalFilter(dt, $event)" />
              </span>
              <p-button 
                styleClass="p-button-text p-button-sm ml-2" 
                icon="pi pi-filter-slash" 
                pTooltip="Limpiar filtros" 
                (click)="clear(dt)">
              </p-button>
            </div>
                              
            <div class="flex">
              <p-button 
                pRipple 
                label="Actualizar" 
                icon="pi pi-refresh" 
                styleClass="p-button-sm p-button-info" 
                (click)="refresh()">
              </p-button>
            </div>
          </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of cols">
                <ng-container *ngIf="col.field !== 'accion'; else actionsColumn">
                    <th *ngIf="showColumn(col.field)" pSortableColumn="{{ col.field }}">
                        {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                      </th>
                </ng-container>
                <ng-template #actionsColumn>
                    <th style="min-width: 10rem; ">{{ col.header }}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            <td>
                <span class="p-column-title">Código</span>
                {{data.Cod_Programa}}
            </td>
            <td>
                <span class="p-column-title">Nombre</span>
                {{data.Nombre_programa}}
            </td>
            <!-- <td>
                <span class="p-column-title">Tipo de programa</span>
                <span pTooltip="Categoría de tipo de programa" tooltipPosition="bottom">{{data.Tipo_programa.Categoria.Descripcion_categoria}} > </span>
                <span pTooltip="Tipo de programa" tooltipPosition="bottom">{{data.Tipo_programa.Descripcion_tp}}</span>
            </td>
            <td>
                <span class="p-column-title">Estado de {{ isPostgrado ? 'acreditación' : 'certificación' }} </span>
                <ng-container *ngIf="isPostgrado">
                    <span [ngClass]="data.Acreditacion.Acreditado == 'SI' ? 'estado-badge estado-activo' : 'estado-badge estado-desactivo'">
                        {{ data.Acreditacion.Acreditado == 'SI' ? 'acreditado' : 'no acreditado' }}
                    </span>

                </ng-container>
                <ng-container *ngIf="!isPostgrado">
                    <span [ngClass]="data.Acreditacion.Certificado == 'SI' ? 'estado-badge estado-activo' : 'estado-badge estado-desactivo'">
                        {{ data.Acreditacion.Certificado == 'SI' ? 'certificado' : 'no certificado' }}
                    </span>
                </ng-container>
            </td>
            <td>
                <span class="p-column-title">Estado maestro</span>
                <ng-container *ngIf="data.Estado_maestro.Cod_EstadoMaestro !== 2 ">
                    <span>{{data.Estado_maestro.Descripcion_EstadoMaestro}}</span>
                </ng-container>
                <ng-container *ngIf="data.Estado_maestro.Cod_EstadoMaestro === 2 ">
                    <span>
                        Suspendido <br/>
                        <strong>Motivo:</strong> {{data.Suspension.Descripcion_TipoSuspension}}
                    </span>
                </ng-container>
                
            </td> -->
            <td>
                <div class="flex">
                    <p-button 
                        icon="pi pi-trash" 
                        styleClass="p-button-sm p-button-danger mr-2"
                        pTooltip="Eliminar registro" 
                        (click)="delete(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-pencil" 
                        styleClass="p-button-sm p-button-warning mr-2"
                        pTooltip="Editar registro" 
                        (click)="edit(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-eye" 
                        styleClass="p-button-sm p-button-info mr-2" 
                        pTooltip="Ver registro"
                        (click)="show(data)" 
                        tooltipPosition="left">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="cols.length + 1">Sin registros</td>
        </tr>
    </ng-template>
</p-table>