<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onChange()"
    header="Ver documento"
>
  <div class="flex justify-content-between align-items-center box-file mb-2">
    <div>{{ nameArchive }}</div>
    <div>
      <p-button
        styleClass="p-button-info mr-2"
        label="Imprimir"
        icon="pi pi-print"
        (click)="print()"
        size="small"
      >
      </p-button>
      <p-button
        styleClass="p-button-danger"
        label="Descargar"
        icon="pi pi-download"
        (click)="download()"
        size="small"
      >
      </p-button>
    </div>
  </div>
  <div id="{{ id }}"></div>

  <ng-template pTemplate="footer">
    <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" (click)="visible = false" [text]="true"></p-button>
  </ng-template>
</p-dialog>

