<app-dialog [dialogWidth]="'90vw'" [(visible)]="main.dialogForm" (visibleChange)="formClosed()">
    <div header>
        <ng-container *ngIf="main.modeForm === 'create' || main.modeForm === 'insert' ">
            <span class="text-xl">Agregar {{ main.namesCrud.singular }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'edit' || main.modeForm === 'update' ">
            <span class="text-xl">Actualizar {{ main.namesCrud.singular }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'show'">
            <span class="text-xl">Visualizar {{ main.namesCrud.singular }}</span>
        </ng-container>
    </div>
    
    <div content>
        <!-- <p-button 
            label="test" 
            icon="pi pi-times" 
            styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="test()" [text]="true">
        </p-button>                 -->
        <div class="grid" *ngIf="main.modeForm !== 'show' ">
            <div class="col-12">
                <app-form-isvalid [valid]="form.fbForm.valid"></app-form-isvalid>
            </div>
        </div>
        <form [formGroup]="form.fbForm">
            <div class="flex">
                <div class="flex-grow-1 flex-shrink-1 flex align-items-start justify-content-center w-full">
                    <div class="surface-card shadow-2 p-3 border-round w-full">
                        <span class="text-lg mt-3">Asignatura para articular (postgrado)</span>
                        <p-divider/>

                        <div class="field">
                            <label><strong>Facultad {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="mainFacultad.facultades"
                                formControlName="cod_facultad_postgrado"
                                optionLabel="Descripcion_facu"
                                optionValue="Cod_facultad" 
                                placeholder="Seleccione facultad"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeFacultadPostgrado($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " style="font-size: 1.5rem; color:#6c757d"></i>
                        </div>

                        <div class="field">
                            <label><strong>Programas postgrado {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="main.programas_postgrado"
                                formControlName="cod_programa_postgrado"
                                optionLabel="Nombre_programa_completo"
                                optionValue="Cod_Programa" 
                                placeholder="Seleccione programa de postgrado"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeProgramaPostgrado($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " style="font-size: 1.5rem; color:#6c757d"></i>
                        </div>

                        <div class="field">
                            <label><strong>Plan de estudio {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="main.planes"
                                formControlName="cod_plan_estudio"
                                optionLabel="nombre_plan_estudio_completo"
                                optionValue="cod_plan_estudio" 
                                placeholder="Seleccione plan de estudio"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changePlanDeEstudio($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " style="font-size: 1.5rem; color:#6c757d"></i>
                        </div>

                        <div class="field">
                            <label><strong>Seleccione asignatura *</strong></label>
                            <p-table
                                #dt2    
                                [value]="main.asignaturas_postgrado"
                                [globalFilterFields]="table.globalFiltrosAsignatura"
                                [scrollable]="true"
                                [rowHover]="true"
                                selectionMode="single"
                                scrollHeight="350px"
                                dataKey="cod_tema"
                                compareSelectionBy="equals"
                                [(selection)]="table.selectedAsignaturasPostgrado" 
                                (selectionChange)="selectAsignaturaPostgrado($event)"
                            >
                                <ng-template pTemplate="caption">
                                    <div class="flex flex-wrap flex-column sm:flex-row justify-content-center align-items-center">
                                        <p-button
                                            *ngIf="table.selectedAsignaturasPostgrado.length !== 0"
                                            label="Limpiar seleccionada(s)"
                                            icon="pi pi-times"
                                            styleClass="p-button-danger p-button-outlined"
                                            (click)="resetSelectedAsignaturasPostgrado(); "
                                        ></p-button>
                                        <div class="flex m-1">
                                            <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input #inputAsignatura pInputText type="text" placeholder="Buscar..." (input)="dt2.filterGlobal($any($event.target).value, 'contains')" />
                                            </span>
                                        </div>
                                        <p-button 
                                            styleClass="p-button-text p-button-sm " 
                                            icon="pi pi-filter-slash" 
                                            pTooltip="Limpiar filtros" 
                                            (click)="inputAsignatura.value = ''; dt2.filterGlobal('', 'contains') ">
                                        </p-button>
                                    </div>
                                </ng-template>
        
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th *ngIf="main.modeForm !== 'show'" style="width: 2rem"></th>
                                        <th>Asignatura</th>
                                    </tr>
                                </ng-template>
        
                                <ng-template pTemplate="body" let-asignatura>
                                    <tr>
                                        <td *ngIf="main.modeForm !== 'show'"><p-tableRadioButton [value]="asignatura" /></td>
                                        <td>
                                            <span>
                                                <i>Código: </i> {{ asignatura.cod_asignatura }} <br/> 
                                                <i>Nombre: </i> {{ asignatura.nombre_asignatura }} <br/>
                                                <i>Tema: </i> {{ asignatura.tema === '' ? '-' :  asignatura.tema }} 
                                            </span> 
        
                                        </td>
                                    </tr>
                                </ng-template>
        
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="2">Sin registros</td>
                                    </tr>
                                </ng-template>
                                
                            </p-table>
                        </div>

                    </div>
                </div>
                <div class="flex-shrink-0 flex align-items-center justify-content-center w-auto">
                    <i class="pi pi-arrow-right mx-2" style="font-size: 2rem; color:#6c757d"></i>
                </div>
                <div class="flex-grow-1 flex-shrink-1 flex align-items-start justify-content-center w-full">
                    <div class="surface-card shadow-2 p-3 border-round w-full">
                        <span class="text-lg mt-3">Asignaturas seleccionadas (pregrado)</span>
                        <p-divider/>

                        <div class="field">
                            <label><strong>{{ main.modeForm === 'show' ? 'Facultad seleccionada' : 'Facultad *'}}</strong></label>
                            <p-dropdown 
                                [options]="mainFacultad.facultades"
                                formControlName="cod_facultad_pregrado"
                                optionLabel="Descripcion_facu"
                                optionValue="Cod_facultad" 
                                placeholder="Seleccione facultad"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeFacultadPregrado($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " style="font-size: 1.5rem; color:#6c757d"></i>
                        </div>

                        <div class="field">
                            <label><strong>Programas pregrado {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-dropdown 
                                [options]="main.programas_pregrado"
                                formControlName="cod_programa_pregrado"
                                optionLabel="nombreCarrera"
                                placeholder="Seleccione programa de pregrado"
                                appendTo="body" 
                                styleClass="w-full p-d-flex p-flex-column" 
                                (onChange)="changeProgramaPregrado($event)" 
                            />
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " style="font-size: 1.5rem; color:#6c757d"></i>
                        </div>

                        <div class="field">
                            <label><strong>Asignaturas {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-multiSelect
                                [options]="main.asignaturas_pregrado"
                                [style]="{ width: '100%', 'min-width': '100%' }"
                                [virtualScroll]="true"
                                [virtualScrollItemSize]="55"
                                [filterFields]="['tema', 'nombre_asignatura' , 'cod_asignatura']"
                                [maxSelectedLabels]="0"
                                formControlName="asignaturas_pregrado"
                                placeholder="Seleccione asignatura(s)"
                                appendTo="body"
                                selectedItemsLabel="{0} asignatura(s) seleccionada(s)"
                                filterPlaceHolder="Buscar asignatura..."
                                (onChange)="changeAsignaturasPregrado($event)"
                            >
                                <ng-template let-item pTemplate="item">
                                    <div class="inline-flex align-items-center px-1">
                                        <span>
                                            {{ item.cod_asignatura }} - {{ item.nombre_asignatura }} <br/>
                                            <i>Tema:</i> {{ item.tema === '' ? '-' : item.cod_tema + ' - ' +item.tema }}
                                        </span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </div>

                        <div class="flex align-items-center justify-content-center w-full">
                            <i class="pi pi-arrow-down " style="font-size: 1.5rem; color:#6c757d"></i>
                        </div>

                        <div class="field">
                            <label><strong>Asignaturas articulables seleccionadas {{ main.modeForm === 'show' ? '' : '*'}} </strong></label>
                            <p-table
                                #dt3    
                                [value]="table.selectedAsignaturaPregrado"
                                [globalFilterFields]="table.globalFiltrosAsignatura"
                                [scrollable]="true"
                                scrollHeight="350px"
                                dataKey="cod_tema"
                            >
                                <ng-template pTemplate="caption">
                                    <div class="flex flex-wrap flex-column sm:flex-row justify-content-center align-items-center">
                                        <p-button
                                            *ngIf="table.selectedAsignaturaPregrado.length !== 0"
                                            label="Limpiar seleccionada(s)"
                                            icon="pi pi-times"
                                            styleClass="p-button-danger p-button-outlined"
                                            (click)="resetSelectedAsignaturasPregrado(); "
                                        ></p-button>
                                        <div class="flex m-1">
                                            <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input #inputAsignaturaSelected pInputText type="text" placeholder="Buscar..." (input)="dt3.filterGlobal($any($event.target).value, 'contains')" />
                                            </span>
                                        </div>
                                        <p-button 
                                            styleClass="p-button-text p-button-sm " 
                                            icon="pi pi-filter-slash" 
                                            pTooltip="Limpiar filtros" 
                                            (click)="inputAsignaturaSelected.value = ''; dt3.filterGlobal('', 'contains') ">
                                        </p-button>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Total seleccionadas: {{ table.selectedAsignaturaPregrado.length  }} </th>
                                        <th>Acción</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-asignatura let-i="rowIndex">
                                    <tr>
                                        <td>
                                            <span>
                                                <i>Código: </i> {{ asignatura.cod_asignatura }} <br/> 
                                                <i>Nombre: </i> {{ asignatura.nombre_asignatura }} <br/>
                                                <i>Tema: </i> {{ asignatura.tema === '' ? '-' :  asignatura.tema }} 
                                            </span> 
                                        </td>
                                        <td>
                                            <div class="flex">
                                                <p-button 
                                                    icon="pi pi-trash" 
                                                    styleClass="p-button-sm p-button-danger mr-2"
                                                    pTooltip="Eliminar registro" 
                                                    (click)="table.deleteRowAsignaturasPregradoSelected(i)">
                                                </p-button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td [attr.colspan]="3">Sin asignaturas articulables seleccionadas</td>
                                    </tr>
                                </ng-template>
                                
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="mt-2">
            <p-messages [(value)]="main.messagesFormulario" [enableService]="false" />
        </div>

    </div>

    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="main.dialogForm = false" [text]="true"></p-button>
        
        <p-button *ngIf="main.modeForm === 'create' || main.modeForm === 'edit'"
            [label]="main.modeForm === 'edit' ? 'Actualizar' : 'Agregar'" icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" [disabled]="form.stateForm === 'INVALID'"
            (click)="submit()">
        </p-button>
    </div>

</app-dialog>
