<app-breadcrumbgp></app-breadcrumbgp>
<p-card>
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap"  [style]="{ 'padding-left': '1.5rem' , 'padding-top': '1.5rem' , 'padding-right': '1.5rem'}">
            <div>
                <div class="p-card-title">Agregar plan de estudio</div>
                <div class="p-card-subtitle">Permite agregar un plan de estudio. <br/> Los campos con (*) son requeridos.</div>
            </div>
            <div>
                <p-button 
                    label="test" 
                    icon="pi pi-times" 
                    styleClass="p-button-sm p-button-secondary mr-2" 
                    (click)="test()" [text]="true">
                </p-button>
                <button pButton icon="pi pi-upload" label="Adjuntar documento maestro" (click)="main.openDialogChooseDocsMaestro()"></button>
                <button 
                    pButton 
                    class="hidden p-button-secondary p-button-outlined ml-2 lg:inline" 
                    (click)="changeDisposition()" 
                >
                <div class="flex align-items-center justify-content-center">
                        <i [ngClass]="main.disposition ? 'pi pi-eye-slash' : 'pi pi-eye'" ></i>
                        <span class="ml-1">
                            {{ main.disposition ? 'Ocultar estado formulario' : 'Ver estado formulario' }}
                        </span>
                    </div>
                </button>
                <button pButton class="p-button-secondary p-button-outlined ml-2 mt-2 lg:hidden" (click)="sidebarVisible2 = true" >
                    <div class="flex align-items-center justify-content-center">
                        <i [ngClass]="sidebarVisible2 ? 'pi pi-eye-slash' : 'pi pi-eye'" ></i>
                        <span class="ml-1">
                            {{ sidebarVisible2 ? 'Ocultar estado formulario' : 'Ver estado formulario' }}
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="body">
        <div class="grid flex">
            <div [ngClass]="contentWrapperClass">
                <form [formGroup]="form.fbForm">
                    <p-stepper (activeStepChange)="stepChange($event)" [linear]="true" [activeStep]="form.activeIndexStepper">

                        <p-stepperPanel id="paso1">
                            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                                <div class="formgrid grid">

                                    <div class="field col-12 md:col-6">
                                        <label><strong>Seleccione facultad para cargar programas</strong></label>
                                        <p-dropdown 
                                            [options]="mainFacultad.facultades"
                                            formControlName="cod_facultad_selected"
                                            optionLabel="Descripcion_facu"
                                            optionValue="Cod_facultad" 
                                            placeholder="Seleccione facultad"
                                            appendTo="body" 
                                            styleClass="w-full p-d-flex p-flex-column" 
                                            (onChange)="changeFacultad($event)" 
                                        />
                                    </div>

                                    <div *ngIf="main.loadedProgramas" class="field col-12 md:col-6">
                                        <label><strong>Seleccione programa para el plan de estudio *</strong></label>
                                        <p-dropdown
                                            [options]="main.programas"
                                            formControlName="cod_programa"
                                            placeholder="Seleccione programa"
                                            optionLabel="Nombre_programa_completo"
                                            optionValue="Cod_Programa"
                                            styleClass="w-full"
                                            appendTo="body"
                                            (onChange)="changePrograma($event)"
                                        >
                                        </p-dropdown>
                                        <app-form-control [control]="form.fbForm.controls['cod_programa']" [validators]="['required']"></app-form-control>
                                    </div>

                                </div>

                                <div *ngIf="showForm">
                                    <div class="formgrid grid">

                                        <div class="field col-12 md:col-6 lg:col-4">
                                            <label><strong>Estado *</strong></label>
                                            <p-dropdown
                                                [options]="estadosPlanEstudio"
                                                formControlName="cod_estado"
                                                placeholder="Seleccione estado"
                                                optionLabel="descripcion_estado"
                                                optionValue="cod_estado"
                                                styleClass="w-full p-d-flex p-flex-column"
                                                (onChange)="changeEstadoPlanEstudio($event)"
                                            />
                                            <app-form-control [control]="form.fbForm.controls['cod_estado']" [validators]="['required']"></app-form-control>
                                        </div>
    
                                        <div class="field col-12 md:col-6 lg:col-4">
                                            <label><strong>Modalidad *</strong></label>
                                            <p-dropdown
                                                [options]="modalidades"
                                                formControlName="cod_modalidad"
                                                placeholder="Seleccione modalidad"
                                                optionLabel="Descripcion_modalidad"
                                                optionValue="Cod_modalidad"
                                                styleClass="w-full p-d-flex p-flex-column"
                                                (onChange)="changeModalidad($event)"
                                            />
                                            <app-form-control [control]="form.fbForm.controls['cod_modalidad']" [validators]="['required']"></app-form-control>
                                        </div>
    
                                        <div class="field col-12 md:col-6 lg:col-4">
                                            <label><strong>Jornada *</strong></label>
                                            <p-dropdown
                                                [options]="jornadas"
                                                formControlName="cod_jornada"
                                                placeholder="Seleccione jornada"
                                                optionLabel="Descripcion_jornada"
                                                optionValue="Cod_jornada"
                                                styleClass="w-full p-d-flex p-flex-column"
                                                (onChange)="changeJornadas($event)"
                                            />
                                            <app-form-control [control]="form.fbForm.controls['cod_jornada']" [validators]="['required']"></app-form-control>
                                        </div>
    
                                        <div class="field col-12 md:col-6 lg:col-4">
                                            <label><strong>Régimen *</strong></label>
                                            <p-dropdown
                                                [options]="regimenes"
                                                formControlName="cod_regimen"
                                                placeholder="Seleccione régimen"
                                                optionLabel="Descripcion_regimen"
                                                optionValue="Cod_regimen"
                                                styleClass="w-full p-d-flex p-flex-column"
                                                (onChange)="changeRegimenes($event)"
                                            />
                                            <app-form-control [control]="form.fbForm.controls['cod_regimen']" [validators]="['required']"></app-form-control>
                                        </div>

                                        <div class="field col-12 md:col-6 lg:col-4">
                                            <label><strong>Cupo mínimo *</strong></label>
                                            <p-inputNumber 
                                                [allowEmpty]="true"
                                                [style]="{ width: '100%', 'min-width': '100%' }"
                                                formControlName="cupo_minimo"
                                                format="false"
                                                maxlength="8"
                                                placeholder="Ingrese cupo mínimo de estudiantes"
                                                class="w-full p-d-flex p-flex-column"
                                            />
                                            <app-form-control [control]="form.fbForm.controls['cupo_minimo']" [validators]="['required' , 'solo_num']"></app-form-control>
                                        </div>

                                        <div class="field col-12 md:col-6 lg:col-4">
                                            <label><strong>REXE *</strong></label>
                                            <input type="text" pInputText formControlName="rexe" maxlength="50" class="w-full" placeholder="Ingrese REXE del programa"/>
                                            <app-form-control [control]="form.fbForm.controls['rexe']" [validators]="['required', 'num_o_letras']"></app-form-control>
                                        </div>

                                    </div>

                                    <div class="flex pt-4 justify-content-end">
                                        <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                                    </div>
                                </div>


                            </ng-template>
                        </p-stepperPanel>

                        <p-stepperPanel id="paso2">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                                
                                <div class="formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex flex-column align-items-center justify-content-center">
                                                <label><strong>¿Tiene certificación intermedia?</strong></label>
                                                <div class="flex flex-row justify-content-around  flex-wrap gap-3 mt-2">
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="0" formControlName="tiene_certificacion" inputId="ingredient1" (onClick)="changeRadioButtonCI($event)" />
                                                        <label for="ingredient1" class="ml-2"> No </label>
                                                    </div>
        
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="1" formControlName="tiene_certificacion" inputId="ingredient2" (onClick)="changeRadioButtonCI($event)" />
                                                        <label for="ingredient2" class="ml-2"> Si </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="form.showMessageDontHaveCI">
                                                <p-messages styleClass="mt-2" severity="warn">
                                                    <ng-template pTemplate>
                                                        <div class="flex flex-column justify-content-center align-items-center">
                                                            <span><i class="pi pi-exclamation-triangle"></i><strong> Atención:</strong></span>
                                                            <span>No es posible activar ya que el programa seleccionado <strong> {{ form.name_programa_selected }} </strong>  no cuenta con certificación intermedia.</span>
                                                        </div>
                                                    </ng-template>
                                                </p-messages>
                                            </div>
                                            <div *ngIf="form.showMessageCI">
                                                <p-messages styleClass="mt-2" severity="info">
                                                    <ng-template pTemplate>
                                                        <div class="flex flex-column justify-content-center align-items-center">
                                                            <span><i class="pi pi-info-circle"></i><strong> Atención:</strong></span>
                                                            <span>
                                                                Una vez agregado el plan de estudio, puede asociar asignaturas a la certificación intermedia de las siguientes maneras:
                                                                <ul>
                                                                    <li>Presionando el botón <strong>Continuar con certificaciones intermedias</strong> desplegado al agregar el plan de estudio.</li>
                                                                    <li>Desde el mantenedor de Certificaciones intermedias ubicado en el menú Mantenedores plan de estudio. </li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </p-messages>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex flex-column align-items-center justify-content-center">
                                                <label><strong>¿Tiene articulación con programas de Pregrado?</strong></label>
                                                <div class="flex flex-row justify-content-around  flex-wrap gap-3 mt-2">
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="0" formControlName="tiene_articulacion" inputId="ingredient1" (onClick)="changeRadioButtonArticulaciones($event)" />
                                                        <label for="ingredient1" class="ml-2"> No </label>
                                                    </div>
        
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="1" formControlName="tiene_articulacion" inputId="ingredient2" (onClick)="changeRadioButtonArticulaciones($event)" />
                                                        <label for="ingredient2" class="ml-2"> Si </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="form.showMessageArticulacion">
                                                <p-messages styleClass="mt-2" severity="info">
                                                    <ng-template pTemplate>
                                                        <div class="flex flex-column justify-content-center align-items-center">
                                                            <span><i class="pi pi-info-circle"></i><strong> Atención:</strong></span>
                                                            <span>
                                                                Una vez agregado el plan de estudio, puede agregar articulaciones de las siguientes maneras:
                                                                <ul>
                                                                    <li>Presionando el botón <strong>Continuar con articulaciones</strong> desplegado al agregar el plan de estudio.</li>
                                                                    <li>Desde el mantenedor de Articulaciones ubicado en el menú Mantenedores plan de estudio. </li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </p-messages>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex flex-column align-items-center justify-content-center ">
                                                <label><strong>¿Tiene plan común?</strong></label>
                                                <div class="flex flex-row justify-content-around  flex-wrap gap-3 mt-2">
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="0" formControlName="tiene_plan_comun" inputId="ingredient1" (onClick)="changeRadioButtonPlanComun($event)" />
                                                        <label for="ingredient1" class="ml-2"> No </label>
                                                    </div>
        
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="1" formControlName="tiene_plan_comun" inputId="ingredient2" (onClick)="changeRadioButtonPlanComun($event)" />
                                                        <label for="ingredient2" class="ml-2"> Si </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="form.showMessagePlanComun">
                                                <p-messages styleClass="mt-2" severity="info">
                                                    <ng-template pTemplate>
                                                        <div class="flex flex-column justify-content-center align-items-center">
                                                            <span><i class="pi pi-info-circle"></i><strong> Atención:</strong></span>
                                                            <span>
                                                                Una vez agregado el plan de estudio, puede asociar asignaturas al plan de común de las siguientes maneras:
                                                                <ul>
                                                                    <li>Presionando el botón <strong>Continuar con asignaturas plan común</strong> desplegado al agregar el plan de estudio.</li>
                                                                    <li>Desde el mantenedor de Asignaturas plan común ubicado en el menú Mantenedores plan de estudio. </li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </p-messages>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex flex-column align-items-center justify-content-center ">
                                                <label><strong>¿Tiene rangos de aprobación?</strong></label>
                                                <div class="flex flex-row justify-content-around  flex-wrap gap-3 mt-2">
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="0" formControlName="tiene_rangos" inputId="ingredient1" (onClick)="changeRadioButtonRangos($event)" />
                                                        <label for="ingredient1" class="ml-2"> No </label>
                                                    </div>
        
                                                    <div class="flex flex-column align-items-center justify-content-center">
                                                        <p-radioButton [value]="1" formControlName="tiene_rangos" inputId="ingredient2" (onClick)="changeRadioButtonRangos($event)" />
                                                        <label for="ingredient2" class="ml-2"> Si </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="form.showMessageRangos">
                                                <p-messages styleClass="mt-2" severity="info">
                                                    <ng-template pTemplate>
                                                        <div class="flex flex-column justify-content-center align-items-center">
                                                            <span><i class="pi pi-info-circle"></i><strong> Atención:</strong></span>
                                                            <span>
                                                                Una vez agregado el plan de estudio, puede asociar rangos de aprobación de las siguientes maneras:
                                                                <ul>
                                                                    <li>Presionando el botón <strong>Continuar con rangos de aprobación</strong> desplegado al agregar el plan de estudio.</li>
                                                                    <li>Desde el mantenedor de Rangos de aprobación ubicado en el menú Mantenedores plan de estudio. </li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </p-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="flex pt-4 justify-content-between">
                                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                                </div>
                            </ng-template>
                        </p-stepperPanel>

                        <p-stepperPanel id="paso3">
                            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">

                                <div class="flex flex-column">

                                    <p-accordion class="w-full">

                                        <p-accordionTab id="reglamento">
                                            <ng-template pTemplate="header">
                                                <div class="flex justify-content-between flex-wrap w-full">
                                                    <div>
                                                        <span><strong>Reglamento</strong></span>
                                                    </div>
                                                    <div *ngIf="form.selectedReglamento !== '' ">
                                                        <span style="font-weight: 100;"><i>{{ form.selectedReglamento }}</i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body">
                                                <app-table-reglamentos [form]="'planDeEstudio'"></app-table-reglamentos>
                                            </ng-template>
                                        </p-accordionTab>

                                        <p-accordionTab id="menciones">
                                            <ng-template pTemplate="header">
                                                <div class="flex justify-content-between flex-wrap w-full">
                                                    <div>
                                                        <span><strong>Menciones</strong></span>
                                                    </div>
                                                    <div *ngIf="form.selectedReglamento !== '' ">
                                                        <span style="font-weight: 100;"><i>{{ form.selectedReglamento }}</i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body">
                                                <div class="formgrid grid">
                                                    <div class="field col-12 md:col-6 lg:col-4">
                                                        <label><strong>¿Tiene menciones?</strong></label>
                                                        <div class="flex flex-row justify-content-start flex-wrap">
                                                            <div class="flex align-items-center justify-content-center">
                                                                <span>No</span>
                                                            </div>
                                                            <div class="flex align-items-center justify-content-center mx-2">
                                                                <p-inputSwitch formControlName="tiene_mencion"  (onChange)="changeSwitchMenciones($event)" styleClass="mt-1 mx-1"/>
                                                            </div>
                                                            <div class="flex align-items-center justify-content-center">
                                                                <span>Si</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="showTableMenciones" class="col-12">
                                                        <span>AQUI TABLA DE MENCIONES</span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-accordionTab>

                                    </p-accordion>
                                </div>


                                <div class="flex pt-4 justify-content-between">
                                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                                    <!-- <p-button styleClass="p-button-success" label="Confirmar" icon="pi pi-check" iconPos="right" (onClick)="confirmAddPrograma = true" [disabled]="!form.stateFormPlanDeEstudio" /> -->

                                </div>
                            </ng-template>
                        </p-stepperPanel>

                    </p-stepper>
                </form>
                <p-messages [(value)]="main.messagesFormulario" [enableService]="false" />
            </div>
            <div class="hidden lg:block" *ngIf="main.disposition" [ngClass]="sidebarClass" >
                <p-card styleClass="border-1 surface-border border-round rounded-lg">
                    <ng-template pTemplate="header">
                        <div class="flex flex-row justify-content-between flex-wrap"  [style]="{ 'padding-left': '1.5rem' , 'padding-top': '1.5rem' , 'padding-right': '1.5rem' , 'width': '100%'}">
                            <div>
                                <div class="align-items-center">
                                    <div class="p-card-title">
                                        Estado formulario
                                        <i class="pi pi-question-circle" [pTooltip]='tooltipContent' tooltipPosition="top"></i>
                                        <ng-template #tooltipContent>
                                            <small>Indica el estado de validación de cada campo del formulario.</small>
                                        </ng-template>
                                    </div>
                                    
                                </div>
                                <div class="align-items-center ml-2" [style]="{'margin-top': '0.1rem !important'}">

                                </div>
                            </div>
                            <div>
                                <span [ngClass]="getStateClass(form.stateFormPlanDeEstudio)">
                                    {{ getStateText(form.stateFormPlanDeEstudio) }}
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <app-state-form formName="planDeEstudio"></app-state-form>
                </p-card>
            </div>
            <p-sidebar [(visible)]="sidebarVisible2" position="right">
                <h3>Estado formulario</h3>
                <app-state-form formName="planDeEstudio"></app-state-form>
            </p-sidebar>
        </div>
    </ng-template>
</p-card>

<app-dialog [(visible)]="main.dialogChooseDocsMaestro">
    <div header>
        <span class="text-xl">Adjuntar documentos maestros</span>
    </div>
    <div content>
        <app-uploader-files *ngIf="main.dialogChooseDocsMaestro"></app-uploader-files>
    </div>
    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" (click)="main.dialogChooseDocsMaestro = false" [text]="true"></p-button>
    </div>
</app-dialog>

<app-form-reglamentos></app-form-reglamentos>