
<p-toast [key]="programasService.keyPopups"></p-toast>

<form [formGroup]="programasService.fbForm">
    <div class="formgrid grid">
        <div class="field col-12 lg:col-4">
            <label><strong>Centro costo {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <input *ngIf="!loading" type="number" pInputText formControlName="Centro_costo" maxlength="80" class="w-full" placeholder="Ingrese centro costo de programa"/>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Centro_costo']" [validators]="['required', 'pattern']"></app-form-control>
        </div>
        <div class="field col-12 lg:col-4">
            <label><strong>Nombre {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <p-inputGroup *ngIf="!loading"> 
                <input type="text" pInputText formControlName="Nombre_programa" maxlength="80" class="w-full" placeholder="Ingrese nombre de programa"/>
                <button *ngIf="mode === 'edit' " (click)="openDialog('nombre')" type="button" pButton icon="pi pi-pencil" iconPos="right" class="p-button-warning" pTooltip="Editar registro" tooltipPosition="bottom"></button>
            </p-inputGroup>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Nombre_programa']" [validators]="['required', 'pattern']"></app-form-control>
        </div>
        <div class="field col-12 lg:col-4">
            <label><strong>Grupo de correo en LDAP {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <p-inputGroup *ngIf="!loading">
                <input type="text" pInputText formControlName="Grupo_correo" maxlength="80" class="w-full" placeholder="Ingrese correo LDAP"/>
                <button *ngIf="mode === 'edit' " (click)="openDialog('grupo_correo')" type="button" pButton icon="pi pi-pencil" iconPos="right" class="p-button-warning" pTooltip="Editar registro" tooltipPosition="bottom"></button>
            </p-inputGroup>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Grupo_correo']" [validators]="['required', 'pattern']"></app-form-control>
        </div>
    

        <div class="field col-12 lg:col-4">
            <label><strong>Código de programa {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <input *ngIf="!loading" type="number" pInputText formControlName="Cod_Programa" min="0" maxlength="50" class="w-full" placeholder="Ingrese código de programa"/>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Cod_Programa']" [validators]="['required', 'pattern']"></app-form-control>
        </div>
        <div class="field col-12 lg:col-4">
            <label><strong>Código SIES {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <input *ngIf="!loading" type="text" pInputText formControlName="Codigo_SIES" maxlength="50" class="w-full" placeholder="Ingrese código SIES"/>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Codigo_SIES']" [validators]="['required', 'pattern']"></app-form-control>
        </div>
        <div class="field col-12 lg:col-2">
            <label><strong>Créditos totales {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <p-inputGroup *ngIf="!loading">
                <input type="number" pInputText formControlName="Creditos_totales" min="0" maxlength="50" class="w-full" placeholder="Ingrese créditos totales"/>
                <button *ngIf="mode === 'edit' " (click)="openDialog('créditos totales')" type="button" pButton icon="pi pi-pencil" iconPos="right" class="p-button-warning" pTooltip="Editar registro" tooltipPosition="bottom"></button>
            </p-inputGroup>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Creditos_totales']" [validators]="['required', 'pattern']"></app-form-control>
        </div>
        <div class="field col-12 lg:col-2">
            <label><strong>Horas totales {{ programasService.showAsterisk ? '*' : '' }} </strong></label>
            <p-inputGroup *ngIf="!loading">
                <input type="number" pInputText formControlName="Horas_totales" maxlength="50" class="w-full" placeholder="Ingrese horas totales"/>
                <button *ngIf="mode === 'edit' " (click)="openDialog('horas totales')" type="button" pButton icon="pi pi-pencil" iconPos="right" class="p-button-warning" pTooltip="Editar registro" tooltipPosition="bottom"></button>
            </p-inputGroup>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Horas_totales']" [validators]="['required', 'pattern']"></app-form-control>
        </div>

        <div class="field col-12 lg:col-4">
            <label>
                <strong>
                    {{ mode === 'edit' ? 'Tipo de programa' : 'Categoría - Tipo de programa' }} 
                    {{ programasService.showAsterisk ? '*' : '' }} 
                </strong>
            </label>
            <br>
            <p-dropdown
                *ngIf="!loading"
                [options]="tiposProgramas"
                [group]="true"
                formControlName="Tipo_programa"
                placeholder="Seleccione tipo de programa"
                [style]="{ width: '100%', 'min-width': '100%' }"
            >
                <ng-template let-group pTemplate="{{ mode === 'edit' ? 'group' : 'selectedItem' }}">
                    <div class="flex align-items-center">
                        <span *ngIf="mode === 'show' ">{{ group.parentLabel }} - {{ group.label }}</span>
                        <span *ngIf="mode === 'edit' ">{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Tipo_programa']" [validators]="['required']"></app-form-control>
        </div>

        <div class="field col-12 lg:col-4">
            <label><strong>Campus {{ programasService.showAsterisk ? '*' : '' }}</strong></label>
            <br>
            <p-dropdown
                *ngIf="!loading"
                [options]="campus"
                [style]="{ width: '100%', 'min-width': '100%' }"
                formControlName="Campus"
                placeholder="Seleccione campus"
                optionLabel="Descripcion_campus"
                optionValue="Cod_campus"
            >
            </p-dropdown>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Campus']" [validators]="['required']"></app-form-control>
        </div>

        <div class="field col-12 lg:col-4">
            <label>
                <strong>
                    {{ mode === 'edit' ? 'Unidad académica' : 'Facultad - Unidad académica' }} 
                    {{ programasService.showAsterisk ? '*' : '' }} 
                </strong>
            </label>
            <br>
            <p-dropdown
                *ngIf="!loading"
                [options]="unidadesAcademicas"
                [group]="true"
                formControlName="Unidad_academica"
                placeholder="Seleccione unidad académica"
                [style]="{ width: '100%', 'min-width': '100%' }"
            >
                <ng-template let-group pTemplate="{{ mode === 'edit' ? 'group' : 'selectedItem' }}">
                    <div class="flex align-items-center">
                        <span *ngIf="mode === 'show' ">{{ group.parentLabel }} - {{ group.label }} </span>
                        <span *ngIf="mode === 'edit' ">{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-skeleton *ngIf="loading" height="2.5rem" />
            <app-form-control [control]="programasService.fbForm.controls['Unidad_academica']" [validators]="['required']"></app-form-control>
        </div>

        <div class="field col-12 lg:col-4">
            <label><strong>¿Tiene graduación conjunta?</strong></label>
            <div *ngIf="!loading" class="flex flex-row justify-content-start flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <span>No</span>
                </div>
                <div class="flex align-items-center justify-content-center mx-2">
                    <p-inputSwitch formControlName="Graduacion_Conjunta_Switch"  (onChange)="changeSwitch($event)" styleClass="mt-1 mx-1"/>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <span>Si</span>
                </div>
            </div>
            <p-skeleton *ngIf="loading" height="2.5rem" />
        </div>
        
        <!-- <ng-container *ngIf="mode === 'show' "> -->
            <div *ngIf="!loading" class="field col-12 lg:col-8" >
                <ng-container *ngIf="programasService.fbForm.get('Graduacion_Conjunta_Switch')!.value">
                    <label><strong>Instituciones asociadas</strong></label>
                    <div *ngIf="!loading" class="flex flex-row justify-content-start flex-wrap">
                        <ng-container *ngFor="let item of institucionesSelected">
                            <p-tag severity="secondary" value="{{item.Descripcion_institucion}}" styleClass="m-1"/>
                        </ng-container>
                    </div>
                </ng-container>
                <p-skeleton *ngIf="loading" [styleClass]="programasService.fbForm.get('Graduacion_Conjunta_Switch')!.value ? '' : 'mt-5'" height="2.5rem" />
            </div>
    </div> 
       
    <!-- <div *ngIf="loading">
        <p-skeleton height="5rem" />
    </div> -->

    <div>
        <p-tabView styleClass="mt-7" (onChange)="changeTab()" >

            <p-tabPanel header="Historial de actividad">
                <p-skeleton *ngIf="loading" height="5rem" />
                <app-table-programas-historial-actividad *ngIf="!loading" [data]="logsPrograma" [mode]="mode"></app-table-programas-historial-actividad>
            </p-tabPanel>

            <p-tabPanel header="Documento maestro de creación">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Documentos maestros adjuntos </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <!-- <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('documentos maestros')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container> -->
                        </div>
                    </div>
                    <app-table-programas-docs-maestro [data]="docMaestro" [mode]="mode"></app-table-programas-docs-maestro>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Título">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Título</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('título')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-titulo [data]="titulo" [mode]="mode"></app-table-programas-titulo>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Grado académico">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Grado académico</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('grado académico')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-grado-academico [data]="grado_academico" [mode]="mode" ></app-table-programas-grado-academico>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="REXE">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>REXE</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('REXE')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-rexe [data]="rexe" [mode]="mode" ></app-table-programas-rexe>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Reglamento">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Reglamento</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('reglamento')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-reglamentos [data]="reglamentos" mode="show" ></app-table-programas-reglamentos>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Director(a)">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Director(a)</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('director')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-director [data]="director" [mode]="mode" ></app-table-programas-director>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Director(a) alterno(a)">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Director(a) alterno(a)</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('director alterno')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-director-alterno [data]="directorAlterno" [mode]="mode" ></app-table-programas-director-alterno>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Estado maestro">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Estado maestro</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('estado maestro')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-estado-maestro [data]="estadosMaestros" [mode]="mode"></app-table-programas-estado-maestro>
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Estado acreditación">
                <p-skeleton *ngIf="loading" height="5rem" />
                <div *ngIf="!loading">
                    <div class="table-header-gp">
                        <div class="flex align-items-center justify-content-between">
                            <span class="font-light">Información y documentos adjuntos de: <strong>Estado acreditación</strong> </span>
                            <div class="flex align-items-center">
                                <button pButton [plain]="true" [rounded]="true" [text]="true" type="button" icon="pi pi-chevron-right" ></button>
                                <span class="mx-1 font-light" pTooltip="Leyenda del ícono" tooltipPosition="bottom">Permite ver documentos adjuntos</span>
                            </div>
                            <ng-container *ngIf="mode === 'edit' ">
                                <p-button (onClick)="openDialog('estado acreditación')" styleClass="p-button-warning"  icon="pi pi-pencil" iconPos="right" />
                            </ng-container>
                        </div>
                    </div>
                    <app-table-programas-estados-acreditacion [data]="estadosAcreditacion" mode="show"></app-table-programas-estados-acreditacion>
                </div>
            </p-tabPanel>
    
            
        </p-tabView>
    </div>
</form>

<app-form-programas-update 
    [programa]="programa" 
    [modeDialogInput]="modeDialog" 
    (formUpdated)="formUpdated($event)"
    (resetDialog)="resetDialog()"
>
</app-form-programas-update>


