<app-dialog [(visible)]="main.dialogForm">
    <div header>
        <ng-container *ngIf="main.modeForm === 'create' || main.modeForm === 'insert'">
            <span class="text-xl">Agregar {{ main.namesCrud.singular }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'edit' || main.modeForm === 'update'">
            <span class="text-xl">Actualizar {{ main.namesCrud.singular }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'show'">
            <span class="text-xl">Ver {{ main.namesCrud.singular }}</span>
        </ng-container>
    </div>
    
    <div content>                
        <div class="grid" *ngIf="main.modeForm !== 'show'">
            <div class="col-12">
                <app-form-isvalid [valid]="form.fbForm.valid"></app-form-isvalid>
            </div>
        </div>
        <form [formGroup]="form.fbForm">
            <div class="formgrid grid">
                <div class="field col-12">
                    <label><strong>Nombre {{ main.modeForm === 'show' ? '' : '*' }}</strong></label>
                    <input type="text" pInputText formControlName="Descripcion_RangoAprobG" maxlength="50"
                        class="w-full" placeholder="Ingrese nombre del rango de aprobación" />
                    <app-form-control [control]="form.fbForm.controls['Descripcion_RangoAprobG']"
                        [validators]="['required', 'num_y_letras']">
                    </app-form-control>
                </div>
                
                <div class="field col-12 md:col-6">
                    <label><strong>Nota mínima {{ main.modeForm === 'show' ? '' : '*' }}</strong></label>
                    <p-inputNumber 
                        formControlName="NotaMinima" 
                        [min]="4.00" 
                        [max]="6.99" 
                        [showButtons]="true" 
                        [useGrouping]="false"
                        [mode]="'decimal'" 
                        [minFractionDigits]="2" 
                        [maxFractionDigits]="5"
                        [locale]="'en-US'"
                        class="w-full"
                        placeholder="Ingrese la nota mínima">
                    </p-inputNumber>
                    <app-form-control [control]="form.fbForm.controls['NotaMinima']"
                        [validators]="['required', 'invalidRange']">
                    </app-form-control>
                </div>
                
                <div class="field col-12 md:col-6">
                    <label><strong>Nota máxima {{ main.modeForm === 'show' ? '' : '*' }}</strong></label>
                    <p-inputNumber 
                        formControlName="NotaMaxima" 
                        [min]="4.01" 
                        [max]="7.00" 
                        [showButtons]="true" 
                        [useGrouping]="false"
                        [minFractionDigits]="2" 
                        [maxFractionDigits]="5"
                        [locale]="'en-US'"
                        class="w-full"
                        placeholder="Ingrese la nota máxima">
                    </p-inputNumber>
                    <app-form-control [control]="form.fbForm.controls['NotaMaxima']"
                        [validators]="['required', 'invalidRange']">
                    </app-form-control>
                </div>
                
                
                <div class="field col-12">
                    <label><strong>N° REXE {{ main.modeForm !== 'show' ? '*' : '' }}</strong></label>
                    <input type="text" pInputText formControlName="RexeReglamentoEstudio" maxlength="50"
                        class="w-full" placeholder="Ingrese el número de REXE del plan de estudio" />

                    <app-form-control [control]="form.fbForm.controls['RexeReglamentoEstudio']"
                        [validators]="['required']"></app-form-control>
                </div>
            </div>
        </form>
    </div>

    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" 
            (click)="main.dialogForm = false" [text]="true">
        </p-button>
        
        <p-button *ngIf="main.modeForm === 'create' || main.modeForm === 'edit'"
            [label]="main.modeForm === 'edit' ? 'Actualizar' : 'Agregar'" icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" [disabled]="form.stateForm === 'INVALID'"
            (click)="submit()">
        </p-button>
    </div>
</app-dialog>
