<div class="grid">
    <div class="col-12">
        <app-card header="Mantenedor de {{ estadosAcreditacionService.namesCrud.plural }}"
            subheader="Permite ver, crear, actualizar y eliminar {{ estadosAcreditacionService.namesCrud.plural }}.">
            
            <app-menu-buttons-table></app-menu-buttons-table>

            <app-table-estados-acreditacion [data]="estadosAcreditacion"></app-table-estados-acreditacion>

            <app-dialog [dialogWidth]="'75vw'" [(visible)]="dialog">
                <div header>
                    <ng-container *ngIf="modeCrud === 'create' || modeCrud === 'insert' ">
                        <span class="text-xl">Agregar {{ estadosAcreditacionService.namesCrud.singular }}</span>
                    </ng-container>
                    <ng-container *ngIf="modeCrud === 'edit' || modeCrud === 'update' ">
                        <span class="text-xl">Actualizar {{ estadosAcreditacionService.namesCrud.singular }}</span>
                    </ng-container>
                    <ng-container *ngIf="modeCrud === 'show'">
                        <span class="text-xl">Ver {{ estadosAcreditacionService.namesCrud.singular }}</span>
                    </ng-container>
                </div>
                <div content>
                    <app-form-estados-acreditacion></app-form-estados-acreditacion>
                </div>
                <div footer>
                    <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
                        (click)="dialog = false" [text]="true"></p-button>

                    <p-button 
                        *ngIf="modeCrud == 'create' || modeCrud == 'edit' "
                        [label]="modeCrud === 'edit' ? 'Actualizar' : 'Guardar'" 
                        icon="pi pi-check"
                        styleClass="mr-2 p-button-success p-button-sm" 
                        [disabled]="estadosAcreditacionService.stateForm === 'INVALID' "
                        (click)="submit()">
                    </p-button>
                </div>
            </app-dialog>
        </app-card>
    </div>
</div>
<!-- <app-config-mode></app-config-mode> -->