<div class="grid">
    <div class="col-12">
        <app-card header="Mantenedor de {{ main.namesCrud.plural }}"
            subheader="Permite ver, crear, actualizar y eliminar {{ main.namesCrud.plural }}.">
            
            <app-menu-buttons-table></app-menu-buttons-table>

            <app-table-estados-acreditacion from="mantenedor"></app-table-estados-acreditacion>

            <app-form-estados-acreditacion></app-form-estados-acreditacion>
        </app-card>
    </div>
</div>
<!-- <app-config-mode></app-config-mode> -->
<app-historial-actividad></app-historial-actividad>