<p-toast [key]="keyPopups"></p-toast>
<p-confirmDialog [key]="keyPopups" [style]="{ width: '500px' }"></p-confirmDialog>

<div class="grid">
    <div class="col-12">
        <app-card header="Mantenedor de unidades académicas"
            subheader="Permite ver, crear, actualizar y eliminar unidades académicas.">
            <app-menu-buttons-table></app-menu-buttons-table>

            <app-table-unidades-academicas [data]="unidadesAcademicas"></app-table-unidades-academicas>

            <app-dialog [(visible)]="dialog">
                <div header>
                    <ng-container [ngSwitch]="modeForm">
                        <ng-container *ngSwitchCase="'create'"><span class="text-xl">Agregar unidad
                                académica</span></ng-container>
                        <ng-container *ngSwitchCase="'edit'"><span class="text-xl">Actualizar unidad
                                académica</span></ng-container>
                        <ng-container *ngSwitchCase="'show'"><span class="text-xl">Ver unidad
                                académica</span></ng-container>
                    </ng-container>
                </div>
                <div content>
                    <div class="grid" *ngIf="modeForm != 'show'">
                        <div class="col-12">
                            <app-form-isvalid [valid]="fbForm.valid"></app-form-isvalid>
                        </div>
                    </div>
                    <form [formGroup]="fbForm">
                        <div class="grid p-fluid">
                            <div class="col-12 lg:col-6">
                                <div class="field">
                                    <label><strong>Nombre *</strong></label>
                                    <input type="text" pInputText formControlName="Descripcion_ua" maxlength="50"
                                        class="w-full" placeholder="Ingrese nombre de unidad académica" autofocus />

                                    <app-form-control [control]="fbForm.controls['Descripcion_ua']"
                                        [validators]="['required' , 'pattern']"></app-form-control>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div formGroupName="Facultad">
                                    <div class="field">
                                        <label><strong>Facultad *</strong></label>
                                        <div *ngIf="modeForm != 'show'" class="flex align-items-center">
                                            <p-dropdown [options]="facultades" optionLabel="Descripcion_facu"
                                                optionValue="Cod_facultad" placeholder="Seleccione facultad..."
                                                appendTo="body" class="flex-grow-1"
                                                formControlName="Cod_facultad"></p-dropdown>
                                        </div>
                                        <div *ngIf="modeForm != 'show'" class="flex align-items-center">
                                            <app-form-control [control]="fbForm.controls['Cod_facultad']"
                                                [validators]="['required']"></app-form-control>
                                        </div>
                                        <div *ngIf="modeForm=='show'" class="flex align-items-center">
                                            <input pInputText *ngIf="unidadAcademica.Facultad" type="text"
                                                class="form-control flex-grow-1"
                                                value="{{ unidadAcademica.Facultad.Descripcion_facu }}" disabled />
                                            <input pInputText *ngIf="!unidadAcademica.Facultad" type="text"
                                                class="form-control flex-grow-1" value="Sin facultad" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </form>
                    <div class="grid">
                        <div class="col-12">
                            <div class="mb-2">
                                <label>
                                    <strong>
                                      {{ modeForm !== 'show' ? 'Adjunte documento(s) *' : 'Documento(s) adjunto(s)' }}
                                    </strong>
                                  </label>                                  
                            </div>
                            <app-uploader-files [mode]="modeForm!"></app-uploader-files>
                        </div>
                    </div>
                </div>
                <div footer>
                    <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
                        (click)="dialog = false" [text]="true"></p-button>

                    <p-button *ngIf="modeForm == 'create' || modeForm == 'edit' "
                        [label]="modeForm === 'edit' ? 'Actualizar' : 'Guardar'" icon="pi pi-check"
                        styleClass="mr-2 p-button-success p-button-sm" [disabled]="!fbForm.valid"
                        (click)="fbForm.valid && submit()">
                    </p-button>
                </div>
            </app-dialog>
        </app-card>

    </div>
</div>