<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-sync" style="color:#6c757d"></i>
            </div>
            <div class="flex align-items-center justify-content-center">
                <span class="mx-1" style="font-weight: 100;">Cambiar estado</span>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
<p-table 
    #dt 
    [rows]="10" 
    [paginator]="true" 
    [rowsPerPageOptions]="[10,25,50]" 
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros." 
    selectionMode="multiple"
    [rowHover]="true" 
    [value]="data" 
    [columns]="cols" 
    [globalFilterFields]="globalFiltros"
    [(selection)]="selectedRow" 
    [dataKey]="dataKeyTable" 
    (selectionChange)="selectionChange()" >

    <ng-template pTemplate="caption">
        <div class="flex flex-wrap flex-column md:flex-row justify-content-between align-items-center">
            <div class="flex mb-2 md:mb-0">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchValue" (input)="onGlobalFilter(dt, $event)" />
              </span>
              <p-button 
                styleClass="p-button-text p-button-sm ml-2" 
                icon="pi pi-filter-slash" 
                pTooltip="Limpiar filtros" 
                (click)="clear(dt)">
              </p-button>
            </div>
          
            <div class="hidden md:flex align-items-center">
              <i class="pi pi-sync" style="color:#6c757d"></i>
              <span class="mx-1 font-light">Cambiar estado</span>
            </div>
                      
            <div class="flex">
                <p-button 
                pTooltip="Muestra la leyenda de iconos" 
                icon="pi pi-question-circle"
                styleClass="p-button-sm p-button-warning mr-2 md:hidden" 
                (click)="op.toggle($event)">
              </p-button> 
              <p-button 
                pRipple 
                label="Actualizar" 
                icon="pi pi-refresh" 
                styleClass="p-button-sm p-button-info" 
                (click)="refresh()">
              </p-button>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of cols">
                <ng-container *ngIf="col.field !== 'accion'; else actionsColumn">
                    <th pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
                <ng-template #actionsColumn>
                    <th style="min-width: 10rem; ">{{ col.header }}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            <td style="width:50%; min-width:10rem;">
                <span class="p-column-title">Nombre</span>
                {{data.Descripcion_facu}}
            </td>
            <td style="width:50%; min-width:10rem;">
                <div class="flex flex-row flex-wrap">
                    <div class="flex align-items-center justify-content-center">
                        <span [ngClass]="data.Estado_facu ? 'estado-badge estado-activo' : 'estado-badge estado-desactivo'">
                            {{ data.Estado_facu ? 'activo' : 'inactivo' }}
                          </span>
                    </div>
                    <div class="flex align-items-center justify-content-center">
                        <p-button icon="pi pi-sync" styleClass="p-button-sm p-button-text p-button-secondary" pTooltip="Cambiar estado" (click)="changeState(data)"  />
                    </div>
                </div>
            </td>
            <td>
                <div class="flex">
                    <p-button 
                        icon="pi pi-trash" 
                        styleClass="p-button-sm p-button-danger mr-2"
                        pTooltip="Eliminar registro" 
                        (click)="delete(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-pencil" 
                        styleClass="p-button-sm p-button-warning mr-2"
                        pTooltip="Editar registro" 
                        (click)="edit(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-eye" 
                        styleClass="p-button-sm p-button-info mr-2" 
                        pTooltip="Ver registro"
                        (click)="show(data)" 
                        tooltipPosition="left">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="cols.length + 1">Sin registros</td>
        </tr>
    </ng-template>
</p-table>