<p-toast [key]="keyPopups"></p-toast>
<p-confirmDialog [key]="keyPopups" [style]="{ width: '500px' }"></p-confirmDialog>

<div class="grid">
    <div class="col-12">
        <app-card header="Mantenedor de tipos de programas"
            subheader="Permite ver, crear, actualizar y eliminar tipos de programas.">
            <app-menu-buttons-table></app-menu-buttons-table>

            <app-table-tipos-programas [data]="tiposProgramas" ></app-table-tipos-programas>

            <app-dialog [(visible)]="dialog">
                <div header>
                    <ng-container [ngSwitch]="modeForm">
                        <ng-container *ngSwitchCase="'create'"><span class="text-xl">Agregar tipo de
                                programa</span></ng-container>
                        <ng-container *ngSwitchCase="'edit'"><span class="text-xl">Actualizar tipo de
                                programa</span></ng-container>
                        <ng-container *ngSwitchCase="'show'"><span class="text-xl">Ver tipo de
                                programa</span></ng-container>
                    </ng-container>
                </div>
                <div content>
                    <div class="grid" *ngIf="modeForm != 'show'">
                        <div class="col-12">
                            <app-form-isvalid [valid]="fbForm.valid"></app-form-isvalid>
                        </div>
                    </div>
                    <form [formGroup]="fbForm">
                        <div class="grid p-fluid">
                            <div class="col-12 lg:col-6">
                                <div class="field">
                                    <label><strong>Nombre *</strong></label>
                                    <input type="text" pInputText formControlName="Descripcion_tp" class="w-full"
                                        placeholder="Ingrese nombre de tipo de programa" maxlength="50" />

                                    <app-form-control [control]="fbForm.controls['Descripcion_tp']"
                                        [validators]="['required' , 'num_y_letras']"></app-form-control>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="field">
                                    <label>
                                        <div class="flex flex-row flex-wrap">
                                            <div class="flex align-items-center"><strong>Categoría *</strong></div>
                                            <div class="flex align-items-center ml-1">
                                                <i *ngIf="modeForm != 'show'" class="pi pi-question-circle ml-1"
                                                    [pTooltip]='tooltipContent' tooltipPosition="top"></i>
                                                <ng-template #tooltipContent>
                                                    <div class="flex align-items-center">
                                                        <small>Un tipo de programa debe tener asociada una
                                                            categoría.</small>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </label>
                                    <div formGroupName="Categoria">
                                        <div *ngIf="modeForm != 'show'" class="flex align-items-center">
                                            <p-dropdown [options]="categoriasTp" optionLabel="Descripcion_categoria"
                                                optionValue="Cod_CategoriaTP" placeholder="Seleccione categoría..."
                                                appendTo="body" class="flex-grow-1" (onChange)="onCategoriaChange($event)"
                                                formControlName="Cod_CategoriaTP">
                                                <ng-template let-categoriatp pTemplate="item">
                                                    <div *ngIf="categoriatp.Cod_CategoriaTP !== -1; else customOption"
                                                        class="flex align-items-center">
                                                        <div>{{ categoriatp.Descripcion_categoria }}</div>
                                                    </div>

                                                    <ng-template #customOption>
                                                        <div class="flex align-items-center">
                                                            <div><strong>{{ categoriatp.Descripcion_categoria }}</strong>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ng-template>
                                            </p-dropdown>
                                            <!-- <p-button icon="pi pi-plus" label="Agregar" class="ml-2"></p-button> -->
                                        </div>
                                    </div>
                                    <div *ngIf="modeForm != 'show'" class="flex align-items-center">
                                        <app-form-control [control]="fbForm.get('Categoria.Cod_CategoriaTP')"
                                            [validators]="['required' , 'notMinusOneCategory' ]"></app-form-control>
                                    </div>
                                    <div *ngIf="modeForm === 'show'" class="flex align-items-center">
                                        <input pInputText *ngIf="tipoPrograma.Categoria" type="text"
                                            class="form-control flex-grow-1"
                                            value="{{ tipoPrograma.Categoria.Descripcion_categoria }}" disabled />
                                        <input pInputText *ngIf="!tipoPrograma.Categoria" type="text"
                                            class="form-control flex-grow-1" value="Sin categoría" disabled />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div footer>
                    <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
                        (click)="dialog = false" [text]="true"></p-button>

                    <p-button *ngIf="modeForm == 'create' || modeForm == 'edit' "
                        [label]="modeForm === 'edit' ? 'Actualizar' : 'Guardar'" icon="pi pi-check"
                        styleClass="mr-2 p-button-success p-button-sm" [disabled]="!fbForm.valid"
                        (click)="fbForm.valid && submit()">
                    </p-button>
                </div>
            </app-dialog>

            <p-dialog header="Agregar nueva categoría de tipo de programa" [(visible)]="newCategoryDialog"
                [modal]="true" [maximizable]="true" [draggable]="false" [resizable]="false" [position]="'center'"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

                <app-form-categorias-tp></app-form-categorias-tp>

                <p-footer>
                    <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
                        (click)="newCategoryDialog = false" [text]="true"></p-button>
                    <p-button label="Guardar" icon="pi pi-check" styleClass="p-button-sm p-button-success"
                        [disabled]="categoriasTpService.stateForm === 'INVALID' "
                        (click)="submitNewCategory()"></p-button>

                </p-footer>
            </p-dialog>
        </app-card>
    </div>
</div>