
<form [formGroup]="programasService.fbForm">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6 lg:col-4">
            <label><strong>Tipo de programa *</strong></label>
            <br>
            <p-dropdown
                [options]="tiposProgramas"
                [group]="true"
                formControlName="Tipo_programa"
                placeholder="Seleccione tipo de programa"
                [style]="{ width: '100%', 'min-width': '100%' }"
            >
                <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                        <span>{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <app-form-control [control]="programasService.fbForm.controls['Tipo_programa']" [validators]="['required']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-4">
            <label><strong>Campus *</strong></label>
            <br>
            <p-dropdown
                [options]="campus"
                [style]="{ width: '100%', 'min-width': '100%' }"
                formControlName="Campus"
                placeholder="Seleccione campus"
                optionLabel="Descripcion_campus"
                optionValue="Cod_campus"
            >
            </p-dropdown>
            <app-form-control [control]="programasService.fbForm.controls['Campus']" [validators]="['required']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-4">
            <label><strong>Unidad académica *</strong></label>
            <br>
            <p-dropdown
                [options]="unidadesAcademicas"
                [group]="true"
                formControlName="Unidad_academica"
                placeholder="Seleccione unidad académica"
                [style]="{ width: '100%', 'min-width': '100%' }"
            >
                <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                        <span>{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <app-form-control [control]="programasService.fbForm.controls['Unidad_academica']" [validators]="['required']"></app-form-control>
        </div>
        <div class="field col-12 md:col-6 lg:col-4">
            <label><strong>Estado maestro *</strong></label>
            <br>
            <p-dropdown
                [options]="estadosMaestros"
                [style]="{ width: '100%', 'min-width': '100%' }"
                formControlName="EstadoMaestro"
                placeholder="Seleccione estado maestro"
                optionLabel="Descripcion_EstadoMaestro"
                (onChange)="onEstadoMaestroChange($event)"
            >
            </p-dropdown>
            <app-form-control [control]="programasService.fbForm.controls['EstadoMaestro']" [validators]="['required']"></app-form-control>
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label><strong>¿Tiene graduación conjunta?</strong></label>
            <div class="flex flex-row justify-content-start flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <span>No</span>
                </div>
                <div class="flex align-items-center justify-content-center mx-2">
                    <p-inputSwitch formControlName="Graduacion_Conjunta_Switch"  (onChange)="changeSwitch($event)" styleClass="mt-1 mx-1"/>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <span>Si</span>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-6 lg:col-4">
            <label><strong>Instituciones {{ showAsterisk ? '*' : '' }}</strong></label>
            <br>
            <p-multiSelect
                [options]="instituciones"
                formControlName="Instituciones"
                placeholder="Seleccione instituciones"
                [style]="{ width: '100%', 'min-width': '100%' }"
                optionLabel="nombreInstitucion"
                appendTo="body"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                selectedItemsLabel="{0} instituciones seleccionadas"
            >
            </p-multiSelect>
            <app-form-control [control]="programasService.fbForm.controls['Instituciones']" [validators]="['required']"></app-form-control>
        </div>
    </div>    
</form>