<app-dialog [(visible)]="main.dialogForm">
    <div header>
        <ng-container *ngIf="main.modeForm === 'create' || main.modeForm === 'insert'">
            <span class="text-xl">Agregar {{ main.namesCrud.singular }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'edit' || main.modeForm === 'update'">
            <span class="text-xl">Actualizar {{ main.namesCrud.singular }}</span>
        </ng-container>
        <ng-container *ngIf="main.modeForm === 'show'">
            <span class="text-xl">Ver {{ main.namesCrud.singular }}</span>
        </ng-container>
    </div>

    <div content>
        <p-messages *ngIf="main.modeForm === 'edit' || main.modeForm === 'update'" [(value)]="main.messages" [enableService]="false" />

        <div class="grid" *ngIf="main.modeForm !== 'show'">
            <div class="col-12">
                <app-form-isvalid [valid]="form.fbForm.valid"></app-form-isvalid>
            </div>
        </div>

        <form [formGroup]="form.fbForm">
            <div class="formgrid grid">
                <div class="col-12">
                    <div class="field">
                        <label><strong>Nombre {{ main.modeForm !== 'show' ? '*' : '' }}</strong></label>
                        <input type="text" pInputText formControlName="Nombre_mencion" maxlength="50"
                            class="w-full" placeholder="Ingrese nombre de la mención del plan de estudio" />

                        <app-form-control [control]="form.fbForm.controls['Nombre_mencion']"
                            [validators]="['required', 'num_y_letras']"></app-form-control>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label><strong>Título {{ main.modeForm !== 'show' ? '*' : '' }}</strong></label>
                        <input type="text" pInputText formControlName="Descripcion_mencion" maxlength="50"
                            class="w-full" placeholder="Ingrese el título de la mención del plan de estudio" />

                        <app-form-control [control]="form.fbForm.controls['Descripcion_mencion']"
                            [validators]="['required', 'num_y_letras']"></app-form-control>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="field">
                        <label><strong>N° REXE {{ main.modeForm !== 'show' ? '*' : '' }}</strong></label>
                        <input type="text" pInputText formControlName="Mencion_rexe" maxlength="50"
                            class="w-full" placeholder="Ingrese el número de REXE de la mención del plan de estudio" />

                        <app-form-control [control]="form.fbForm.controls['Mencion_rexe']"
                            [validators]="['required', 'num_y_letras']"></app-form-control>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label><strong>Fecha informe {{ main.modeForm !== 'show' ? '*' : '' }}</strong></label>
                        <p-calendar
                            formControlName="Fecha_creacion"
                            dateFormat="dd-mm-yy"
                            placeholder="Seleccione fecha de informe"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            class="w-full"
                            readonlyInput="true"
                            appendTo="body"
                            autofocus="false"
                            [maxDate]="today"
                            dataType="string"
                        ></p-calendar>

                        <app-form-control [control]="form.fbForm.controls['Fecha_creacion']"
                            [validators]="['required']"></app-form-control>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="field">
                        <label for="Estado"><strong>¿Está vigente?</strong></label>
                        <br>
                        <div class="flex flex-row flex-wrap">
                            <div class="flex align-items-center justify-content-center">
                                <span>No</span>
                            </div>
                            <div class="flex align-items-center justify-content-center mx-2">
                                <p-inputSwitch formControlName="Vigencia" styleClass="mt-1"></p-inputSwitch>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <span>Si</span>
                                <app-form-control [control]="form.fbForm.controls['Vigencia']"
                                    [validators]="['required']"></app-form-control>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <div class="mb-2">
                        <label>
                            <strong>{{ main.modeForm !== 'show' ? 'Adjunte documento(s) *' : 'Documento(s) adjunto(s)' }}</strong>
                        </label>
                    </div>
                    <app-uploader-files *ngIf="main.dialogForm" [mode]="main.modeForm!"></app-uploader-files>
                </div>
            </div>
        </form>
    </div>

    <div footer>
        <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2"
            (click)="main.dialogForm = false" [text]="true"></p-button>

        <p-button *ngIf="main.modeForm === 'create' || main.modeForm === 'edit'"
            [label]="main.modeForm === 'edit' ? 'Actualizar' : 'Agregar'" icon="pi pi-check"
            styleClass="mr-2 p-button-success p-button-sm" [disabled]="form.stateForm === 'INVALID'"
            (click)="submitMencion()">
        </p-button>
    </div>
</app-dialog>
