<p-table
    [value]="data"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Director(a)</th>
            <th>Contacto</th>
            <th>Facultad</th>
            <th>Acción</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{ data.Nombres }} {{ data.Paterno }} {{ data.Materno }} <br/> RUT: {{ data.rutcompleto }}</td>
            <td>{{ data.FiceMail }} <br/> Anexo: {{ data.DirFono || '' }}</td>
            <td>{{ data.Facultad }}</td>
            <td>
                <p-button
                    *ngIf="!isSelected"  
                    styleClass="p-button-sm"
                    label="Seleccionar"
                    (click)="changeSelectDirector('select',data.rutcompleto, data.Nombres, data.Paterno, data.Materno)"
                >
                </p-button>
                <p-button
                    *ngIf="isSelected"    
                    styleClass="p-button-sm p-button-danger"
                    label="Deseleccionar"
                    (click)="changeSelectDirector('unselect',data.rutcompleto, data.Nombres, data.Paterno, data.Materno)"
                >
                </p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        Sin resultados
    </ng-template>
</p-table>
