<div class="grid">
    <div class="col-12">
        <app-card 
            header="Mantenedor de {{ main.namesCrud.plural }}" 
            subheader="Permite visualizar, agregar, actualizar y eliminar {{ main.namesCrud.plural }}.">
            
            <app-menu-buttons-table></app-menu-buttons-table>
            
            <app-table-regimenes></app-table-regimenes>

            <app-form-regimenes></app-form-regimenes>
        </app-card>
    </div>
</div>
<app-historial-actividad></app-historial-actividad>