<app-card header="Asignaturas" subheader="Permite visualizar, agregar, actualizar y eliminar asignaturas.">
    <div class="surface-card shadow-2 p-3 border-round mb-4">
        <div class="flex flex-column md:flex-row align-items-center justify-content-between gap-3">
            <div class="w-full">
                <div class="mb-2">
                    <label><strong>Facultad</strong></label>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-2">
                    <label><strong>Programa</strong></label>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-2">
                    <label><strong>Plan de estudio</strong></label>
                </div>
            </div>
        </div>
    </div>
</app-card>
