<p-toast [key]="keyPopups"></p-toast>
<p-confirmDialog [key]="keyPopups" [style]="{ width: '500px' }"></p-confirmDialog>

<div class="grid">
    <div class="col-12">
        <app-card header="Mantenedor de categorías de tipos de programas" subheader="Permite ver, crear, actualizar y eliminar categorías de tipos de programas.">
            <app-menu-buttons-table></app-menu-buttons-table>

            <app-table-categorias-tp [data]="categoriasTp" [cols]="cols" [globalFiltros]="globalFiltros" [dataKeyTable]="dataKeyTable"></app-table-categorias-tp>

            <app-dialog [(visible)]="dialog">
                <div header>
                    <ng-container [ngSwitch]="mode">
                        <ng-container *ngSwitchDefault><span class="text-xl">Agregar categoría de tipo de programa</span></ng-container>
                        <ng-container *ngSwitchCase="'edit'"><span class="text-xl">Actualizar categoría de tipo de programa</span></ng-container>
                        <ng-container *ngSwitchCase="'show'"><span class="text-xl">Ver categoría de tipo de programa</span></ng-container>
                    </ng-container>
                </div>
                <div content>
                    <app-form-categorias-tp></app-form-categorias-tp>
                </div>
                <div footer>
                    <p-button label="Cerrar" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-2" (click)="dialog = false" [text]="true"></p-button>

                    <p-button 
                        *ngIf="mode == 'create' ||  mode == 'edit' "
                        [label]="mode === 'edit' ? 'Actualizar' : 'Guardar'" 
                        icon="pi pi-check"
                        styleClass="mr-2 p-button-success p-button-sm" 
                        [disabled]="!statusValidatorForm"
                        (click)="statusValidatorForm && submit()">
                    </p-button>
                </div>
            </app-dialog>
        </app-card>
    </div>
</div>