<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center">
                <span class="icon-badge">
                    <i class="pi pi-chevron-right"></i> 
                </span>
            </div>
            <div class="flex align-items-center justify-content-center">
                <span class="mx-1" style="font-weight: 100;">Ver asignaturas</span>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
<p-table 
    #dt 
    [rows]="10" 
    [paginator]="true" 
    [rowsPerPageOptions]="[10,25,50]" 
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} hasta {last} de {totalRecords} menciones." 
    selectionMode="multiple"
    [rowHover]="true" 
    [value]="main.menciones" 
    [columns]="table.cols" 
    [globalFilterFields]="table.globalFiltros"
    [(selection)]="table.selectedRows" 
    [dataKey]="from !== 'crud_asign' ? 'cod_mencion_pe' : 'cod_mencion_asignatura'" 
    (selectionChange)="table.setSelectedRows()"
    [expandedRowKeys]="expandedRows"
    rowExpandMode="multiple" 
    >
    <ng-template pTemplate="caption">
        <div class="flex flex-wrap flex-column md:flex-row justify-content-between align-items-center">
            <div class="flex flex-row">
                <p-button
                    *ngIf="mode !== 'show'"
                    icon="pi pi-trash"
                    styleClass="p-button-danger p-button-outlined mr-2"
                    pTooltip="Eliminar seleccionados"
                    [disabled]="table.selectedRows.length === 0"
                    (click)="main.setModeCrud('delete-selected')"
                ></p-button>
                <div class="flex mb-2 md:mb-0">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchValue" (input)="onGlobalFilter(dt, $event)" />
                  </span>
                  <p-button 
                    styleClass="p-button-text p-button-sm ml-2" 
                    icon="pi pi-filter-slash" 
                    pTooltip="Limpiar filtros" 
                    (click)="clear(dt)">
                  </p-button>
                </div>
            </div>

            <div *ngIf="from !== 'crud_asign'" class="hidden md:flex estado-badge-doc icon-leyenda" pTooltip="Leyenda de iconos" tooltipPosition="bottom">
                <span class="icon-badge"><i class="pi pi-chevron-right"></i></span>
                <span class="mx-1 font-light">Ver asignaturas</span>
            </div>
                              
            <div class="flex">
                <p-button
                    *ngIf="from !== 'crud_asign'" 
                    pTooltip="Muestra la leyenda de iconos" 
                    icon="pi pi-question-circle"
                    styleClass="p-button-warning mr-2 md:hidden" 
                    (click)="op.toggle($event)">
                </p-button> 
                <p-button 
                    pRipple 
                    label="Actualizar" 
                    icon="pi pi-refresh" 
                    styleClass="p-button-info" 
                    (click)="getData(true)">
                </p-button>
            </div>
          </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="mode !== 'show'" style="width: 1rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngIf="from !== 'crud_asign'" style="min-width: 1rem"></th>
            <th pSortableColumn="nombre_mencion">Nombre <p-sortIcon field="nombre_mencion"></p-sortIcon></th>
            <th pSortableColumn="descripcion_mencion">Descripción <p-sortIcon field="descripcion_mencion"></p-sortIcon></th>
            <th *ngIf="from ==='crud_asign'" pSortableColumn="nombre_mencion">Asignatura <p-sortIcon field="nombre_mencion"></p-sortIcon></th>
            <th *ngIf="from !== 'crud_asign'" pSortableColumn="asignaturas">Núm. de asignaturas <p-sortIcon field="asignaturas"></p-sortIcon></th>
            <th pSortableColumn="Acciones">Acciones <p-sortIcon field="Acciones"></p-sortIcon></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-expanded="expanded">
        <tr>
            <td *ngIf="mode !== 'show'">
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            <td *ngIf="from !=='crud_asign'"> <p-button type="button" pRipple [pRowToggler]="data" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" /> </td>
            <td style="width:25%;">
                <span> {{data.nombre_mencion}} </span> <br>
                <span style="font-size: 0.8rem;">
                    <strong>REXE:</strong> {{data.mencion_rexe}} <br>
                    <strong>ESTADO:</strong> {{data.vigencia ? 'Vigente' : 'No vigente'}} <br>
                    <strong>FECHA CREACIÓN:</strong> {{data.fecha_creacion}} 
                </span>
            </td>
            <td style="width:25%;">
                {{data.descripcion_mencion}}
            </td>
            <td *ngIf="from ==='crud_asign'" style="width:45%;">
                <span> {{data.asignaturas[0].codigo_externo}} - {{data.asignaturas[0].nombre_asignatura}} </span> <br>
                <span style="font-size: 0.8rem;">
                    <strong>TEMA:</strong> {{ data.asignaturas[0].nombre_tema === '' ? '-' : data.asignaturas[0].nombre_tema }} 
                </span>
            </td>
            <td *ngIf="showRowExpandAsignaturas" style="width:25%;">
                {{data.asignaturas.length === 0 ? 'Pendiente de asignación' : data.asignaturas.length+' asignatura(s)' }} 
            </td>
            <td>
                <div class="flex">
                    <p-button
                        *ngIf="mode !== 'show'" 
                        icon="pi pi-trash" 
                        styleClass="p-button-sm p-button-danger mr-2"
                        pTooltip="Eliminar registro" 
                        (click)="delete(data)">
                    </p-button>
                    <p-button 
                        *ngIf="mode !== 'show' && from !== 'crud_asign'"
                        icon="pi pi-pencil" 
                        styleClass="p-button-sm p-button-warning mr-2"
                        pTooltip="Editar registro" 
                        (click)="edit(data)">
                    </p-button>
                    <p-button 
                        icon="pi pi-eye" 
                        styleClass="p-button-sm p-button-info mr-2" 
                        pTooltip="Ver registro"
                        (click)="show(data)" 
                        tooltipPosition="left">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template *ngIf="from !== 'crud_asign'" pTemplate="rowexpansion" let-data>
        <tr>
            <td [attr.colspan]="table.cols.length + 2">
                <div class="p-3">
                    <p-table [value]="data.asignaturas" dataKey="cod_tema">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codigo_externo">Código asignatura <p-sortIcon field="codigo_externo" /></th>
                                <th pSortableColumn="nombre_asignatura">Asignatura <p-sortIcon field="nombre_asignatura" /></th>
                                <th pSortableColumn="nombre_tema">Tema <p-sortIcon field="nombre_tema" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-asign>
                            <tr>
                                <td>{{ asign.codigo_externo }}</td>
                                <td>{{ asign.nombre_asignatura }}</td>
                                <td>{{ asign.nombre_tema !== '' ? asign.nombre_tema : '-' }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="table.cols.length + 1">Sin asignaturas</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="table.cols.length + 2">Sin registros</td>
        </tr>
    </ng-template>
</p-table>