<p-table #dt [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros." selectionMode="multiple"
    [rowHover]="true" [value]="data" [columns]="cols" [globalFilterFields]="globalFiltros"
    [(selection)]="selectedCampus" [dataKey]="dataKeyTable" (selectionChange)="selectionChange()" >
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-content-center">
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." [(ngModel)]="searchValue" />
                </span>
                <p-button styleClass="p-button-text p-button-sm ml-2" icon="pi pi-filter-slash" pTooltip="Limpiar filtros" (click)="clear(dt)"></p-button>
            </div>
            <div>
                <p-button pRipple label="Actualizar" icon="pi pi-refresh" styleClass="p-button-sm p-button-info" (click)="refresh()"></p-button>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of cols">
                <ng-container *ngIf="col.field !== 'accion'; else actionsColumn">
                    <th pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
                <ng-template #actionsColumn>
                    <th style="min-width: 10rem">{{ col.header }}</th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-campus>
        <tr>
            <td>
                <p-tableCheckbox [value]="campus"></p-tableCheckbox>
            </td>
            <td style="width:50%; min-width:10rem;">
                <span class="p-column-title">Nombre</span>
                {{campus.Descripcion_campus}}
            </td>
            <td style="width:50%; min-width:10rem;">
                <span class="p-column-title">Estado</span>
                <ng-container *ngIf="campus.Estado_campus == true">
                    <span class="estado-badge estado-activo">activo</span>
                </ng-container>
                <ng-container *ngIf="campus.Estado_campus == false">
                    <span class="estado-badge estado-desactivo">desactivo</span>
                </ng-container>
            </td>
            <td>
                <div class="flex">
                    <p-button 
                        icon="pi pi-trash" 
                        styleClass="p-button-sm p-button-text p-button-secondary mr-2"
                        pTooltip="Eliminar registro" 
                        (click)="delete(campus)">
                    </p-button>
                    <p-button 
                        *ngIf="campus.Estado_campus !== undefined"
                        [icon]="campus.Estado_campus ? 'pi pi-times' : 'pi pi-check'"
                        styleClass="p-button-sm p-button-text p-button-secondary mr-2"
                        [pTooltip]="campus.Estado_campus ? 'Desactivar registro' : 'Activar registro'"
                        (click)="changeState(campus , campus.Estado_campus)">
                    </p-button>
                    <p-button 
                        icon="pi pi-pencil" 
                        styleClass="p-button-sm p-button-text p-button-secondary mr-2"
                        pTooltip="Editar registro" 
                        (click)="edit(campus)">
                    </p-button>
                    <p-button 
                        icon="pi pi-eye" 
                        styleClass="p-button-sm p-button-text p-button-secondary mr-2" 
                        pTooltip="Ver registro"
                        (click)="show(campus)" 
                        tooltipPosition="left">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>